{
  "swagger": "2.0",
  "info": {
    "title": "IMN  API- DEV",
    "description": "# The REST API of IMN system\n## Overview\nThe REST APIs provide programmatic access to read and write IMN data. \nBasically, with this API you will be able to do everything like you were with your browser on https://go.imn.io !\n\nThe main features are:\n- Register and manage your account\n- Create and manage and share your stores with your friends/co-workers.\n- Import your product catalog and schedule the auto importation\n- Search the channels your want to use\n- Configure your channels for your catalogs to export your product information:\n    - cost and general settings\n    - category and columns mappings\n    - your will be able to create and manage your custom column\n    - put in place exlusion filters based on simple conditions on your product data\n    - override product values\n    - get product vision for a channel catalog scope\n- Analyze and optimize your performance of your catalogs on all yours channels with different type of reportings by day, channel, category and by product.\n- Automatize your optimisation by using rules!\n- And of course... Manage your orders harvested from all your marketplaces:\n    - Synchronize your orders in an uniformized way\n    - Get the available actions and update the order status\n- ...and more!\n\n## Authentication credentials\nTBD\n\n## Things to keep in mind\n### API Rate Limits\n- The IMN REST API is limited to 100 calls/minute.\n\n### Media type\nThe default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.\n\n### Required content type\nThe required and default encoding for the request and responses is UTF8.\n\n### Required date time format\nAll our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.\n\n### Base URL\nThe Base URL of the IMN API Order Management REST API conforms to the following template.\n\nhttps://api.imn.io\n\nAll URLs returned by the IMN API are relative to this base URL, and all requests to the REST API must use this base URL template.\n\nYou can test our API on https://api-docs.imn.io/swagger-ui\\\nYou can contact us on [gitter, #IMN/API](https://gitter.im/IMN/API)\n",
    "version": "1.0",
    "x-logo": {
      "url": "https://imngo.blob.core.windows.net/imngo/images/imn-logo.png",
      "backgroundColor": "#FFFFFF"
    },
    "contact": {
      "email": "support@imn.io"
    },
    "license": {
      "name": "IMN",
      "url": "https://go.imn.io"
    }
  },
  "host": "api.imn.io",
  "x-IMN-api-ops": {
    "codeGenType": "webapi",
    "repo": "IMN",
    "appRoot": "IMN.MER.MKP.WebService",
    "apiName": "MerchantMarketplacesV1",
    "namespace": "IMN.MER.MKP.WebService",
    "useBeezUPFrameworkVersion2": true,
    "comment": "No change. Just server side generation.\n",
    "using": [
      "IMN.Schemas",
      "IMN.MER.Schemas",
      "IMN.MER.Exceptions"
    ]
  },
  "x-basePath": "/merchant/marketplaces/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Merchant API - Marketplaces - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant API - Marketplaces - Marketplace",
      "x-displayName": "Marketplace"
    },
    {
      "name": "Merchant API - Marketplaces - Api Credentials",
      "x-displayName": "Api Credentials"
    },
    {
      "name": "Merchant API - Marketplaces - Shipping Settings",
      "x-displayName": "Shipping Settings"
    },
    {
      "name": "Merchant API - Marketplaces - Pricing Settings",
      "x-displayName": "Pricing Settings"
    },
    {
      "name": "Merchant API - Marketplaces - Activation",
      "x-displayName": "Activation"
    },
    {
      "name": "Merchant - Account API - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant - Account API - Account",
      "x-displayName": "Account"
    },
    {
      "name": "Merchant - Account API - Api Token",
      "x-displayName": "Api Token"
    },
    {
      "name": "Marketplaces - Orders - Global",
      "description": "All global operations (cross marketplace)",
      "x-displayName": "Global"
    },
    {
      "name": "Marketplaces - Orders - List",
      "description": "All Order list operations",
      "x-displayName": "List"
    },
    {
      "name": "Marketplaces - Orders - Order",
      "description": "All operations related to a single Order",
      "x-displayName": "Order"
    },
    {
      "name": "Marketplaces - Orders - Batches",
      "description": "All batch operations on Orders to reduce call rate",
      "x-displayName": "Batches"
    },
    {
      "name": "Marketplaces - Orders - Subscriptions - DRAFT",
      "description": "All orders subscription operations - DRAFT",
      "x-displayName": "Subscriptions - DRAFT"
    },
    {
      "name": "Merchant API - Offers - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant API - List of Values - LOV",
      "description": "All LOV operations",
      "x-displayName": "LOV"
    },
    {
      "name": "External API - Merchant Marketplace Subscription Request - Global",
      "x-displayName": "Global"
    }
  ],
  "paths": {
    "/merchant/marketplaces/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Global"
        ],
        "summary": "Get the marketplaces index",
        "operationId": "GetMarketplacesIndex",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplaces index",
            "schema": {
              "$ref": "#/definitions/marketplacesIndex"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Marketplace"
        ],
        "summary": "Get the marketplace index",
        "operationId": "GetMarketplaceIndex",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace index",
            "schema": {
              "$ref": "#/definitions/marketplaceIndex"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/subscription/reporting": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Marketplace"
        ],
        "summary": "Get the marketplace subscription reporting",
        "operationId": "GetMarketplaceSubscriptionReporting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace subscription reporting",
            "schema": {
              "$ref": "#/definitions/marketplaceSubscriptionReporting"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/apiCredential": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Api Credentials"
        ],
        "summary": "Get the marketplace API credential",
        "operationId": "GetMarketplaceApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace API credential",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Api Credentials"
        ],
        "summary": "Save the marketplace API credential",
        "operationId": "SaveMarketplaceApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "credential",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Marketplace API credentials saved"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/invalidMarketplaceCredential"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/shippingSettings": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Shipping Settings"
        ],
        "summary": "Get the shipping settings for this marketplace",
        "operationId": "GetMarketplaceShippingSettings",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The shipping settings for this marketplace",
            "schema": {
              "$ref": "#/definitions/marketplaceShippingSettings"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Shipping Settings"
        ],
        "summary": "Save the shipping settings for this marketplace",
        "operationId": "SaveMarketplaceShippingSettings",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "shippingSetting",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceShippingSettings"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Shipping settings configured for this marketplace"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/pricingSetting": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Pricing Settings"
        ],
        "summary": "Get the pricing setting for this marketplace",
        "operationId": "GetMarketplacePricingSetting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The pricing settings for this marketplace",
            "schema": {
              "$ref": "#/definitions/marketplacePricingSetting"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Pricing Settings"
        ],
        "summary": "Save the pricing setting for this marketplace",
        "operationId": "SaveMarketplacePricingSetting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "pricingSetting",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplacePricingSetting"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "Pricing setting configured for this marketplace"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/declareOffersSource": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Declare this marketplace as source of the offers",
        "operationId": "DeclareSourceMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The source marketplace has been declared"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/undeclareOffersSource": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Undeclare this marketplace as source of the offers",
        "operationId": "UndeclareSourceMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The source marketplace has been declared"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "412": {
            "$ref": "#/responses/notOfferSourceMarketplace"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/enable": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Enable offers publication & order management for this marketplace",
        "operationId": "EnableMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The marketplace has been enabled"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAccepted"
          },
          "412": {
            "$ref": "#/responses/credentialNotConfigured"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disable": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Disable offers publication & order management for this marketplace",
        "operationId": "DisableMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The marketplace has been disabled"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disableOrderImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Disable order importation for this marketplace",
        "operationId": "DisableOrderImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The marketplace order importation has been disabled"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/reenableOrderImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Activation"
        ],
        "summary": "Reenable order importation for this marketplace",
        "operationId": "ReenableOrderImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The marketplace order importation has been reenabled"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAccepted"
          },
          "412": {
            "$ref": "#/responses/credentialNotConfigured"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/": {
      "get": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Get the merchant account index",
        "operationId": "GetMerchantAccountIndex",
        "responses": {
          "200": {
            "description": "The merchant account index",
            "schema": {
              "$ref": "#/definitions/merchantAccountIndex"
            }
          },
          "401": {
            "description": "The merchant informations are not available",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/checkMerchantCodeAvailability": {
      "post": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Check if merchant code is available",
        "operationId": "CheckMerchantCodeAvailability",
        "parameters": [
          {
            "name": "merchantCode",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/merchantCode"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant code is available"
          },
          "409": {
            "description": "The merchant code is not available",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/create": {
      "post": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Create the merchant account using the merchant code",
        "operationId": "CreateMerchantAccount",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createMerchantAccountRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant code has been created"
          },
          "400": {
            "description": "The merchant code or some values are invalid. Please check the error message.",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "409": {
            "$ref": "#/responses/merchantCodeAlreadyUsed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Merchant - Account API - Account"
        ],
        "summary": "Get merchant account info",
        "operationId": "GetMerchantAccountInfo",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant account info",
            "schema": {
              "$ref": "#/definitions/merchantAccountInfo"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "Merchant - Account API - Account"
        ],
        "summary": "Save merchant account info",
        "operationId": "UpdateMerchantAcountInfo",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The merchant account info update request",
            "schema": {
              "$ref": "#/definitions/updateMerchantAccountRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant account info updated"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}/resetApiToken": {
      "post": {
        "tags": [
          "Merchant - Account API - Api Token"
        ],
        "summary": "Reset merchant api token",
        "operationId": "ResetMerchantApiToken",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant api token reset"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Marketplaces - Orders - Global"
        ],
        "x-tagGroups": "Marketplaces Orders",
        "operationId": "GetOrderApiIndex",
        "summary": "Get all actions you can do on the order API",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Order API index",
            "schema": {
              "$ref": "#/definitions/orderApiIndex"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/list": {
      "post": {
        "tags": [
          "Marketplaces - Orders - List"
        ],
        "operationId": "GetOrderListFull",
        "summary": "Get a paginated list of all Orders with all Order and Order Item(s) properties",
        "description": "The purpose of this operation is to reduce the amount of request to the API.\\\n\\\nPrevious implmentation of this feature only returned a partial (light) version of the Orders. The purpose of this API is to reduce the number of incoming requests by returning the complete (full) Order and Order Item(s) properties.\n",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "Accept-Encoding",
            "description": "Allows the client to indicate wether it accepts a compressed encoding to reduce traffic size",
            "in": "header",
            "required": true,
            "type": "array",
            "collectionFormat": "csv",
            "items": {
              "type": "string"
            }
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/orderListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched the full list of Orders",
            "schema": {
              "$ref": "#/definitions/orderListFull"
            }
          },
          "400": {
            "description": "Could not process request for given parameters values. Please check error message for more details.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/setMerchantOrderInfos": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Batches"
        ],
        "operationId": "SetMerchantOrderInfoList",
        "summary": "Send a batch of operations to set an Order's merchant information  (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/setMerchantOrderInfoListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Succesfully received and processed batched operations. Please check response to see the status per operation.",
            "schema": {
              "$ref": "#/definitions/batchOrderOperationResponse"
            }
          },
          "400": {
            "description": "Requested too many batch operations",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/clearMerchantOrderInfos": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Batches"
        ],
        "operationId": "ClearMerchantOrderInfoList",
        "summary": "Send a batch of operations to clear an Order's merchant information (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/clearMerchantOrderInfoListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Succesfully received and processed batched operations. Please check response to see the status per operation.",
            "schema": {
              "$ref": "#/definitions/batchOrderOperationResponse"
            }
          },
          "400": {
            "description": "Requested too many batch operations",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/ship": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Batches"
        ],
        "operationId": "ShipOrderList",
        "summary": "Ship multiple marketplace orders in one operation",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shipOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Succesfully received and processed batched operations. Please check response to see the status per operation.",
            "schema": {
              "$ref": "#/definitions/batchOrderOperationResponse"
            }
          },
          "400": {
            "description": "Requested too many batch operations",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/refund": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Batches"
        ],
        "operationId": "RefundOrderList",
        "summary": "Refund multiple marketplace orders in one operation",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/refundOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Succesfully received and processed batched operations. Please check response to see the status per operation.",
            "schema": {
              "$ref": "#/definitions/batchOrderOperationResponse"
            }
          },
          "400": {
            "description": "Requested too many batch operations",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/accept": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Batches"
        ],
        "operationId": "AcceptOrderList",
        "summary": "Accept multiple marketplace orders in one operation",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/acceptOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Succesfully received and processed batched operations. Please check response to see the status per operation.",
            "schema": {
              "$ref": "#/definitions/batchOrderOperationResponse"
            }
          },
          "400": {
            "description": "Requested too many batch operations",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/cancel": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Batches"
        ],
        "operationId": "CancelOrderList",
        "summary": "Cancel multiple marketplace orders in one operation",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cancelOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Succesfully received and processed batched operations. Please check response to see the status per operation.",
            "schema": {
              "$ref": "#/definitions/batchOrderOperationResponse"
            }
          },
          "400": {
            "description": "Requested too many batch operations",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}": {
      "head": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "HeadOrder",
        "summary": "Get the meta information about the order (ETag, Last-Modified)",
        "description": "The purpose of this operation is to reduce the bandwith usage by getting just the meta information about the order (ETag, Last-Modified) with the body.\nThis could be useful\n",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order and Order Item(s) properties",
            "headers": {
              "Last-Modified": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification UTC date of the order\\\nFor more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2\n"
              },
              "ETag": {
                "type": "string",
                "description": "ETag value to identify the current version of requested Order\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n"
              }
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "GetOrder",
        "summary": "Get full Order and Order Item(s) properties",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order and Order Item(s) properties",
            "headers": {
              "Last-Modified": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification UTC date of the order\\\nFor more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2\n"
              },
              "ETag": {
                "type": "string",
                "description": "ETag value to identify the current version of requested Order\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/orderIndex"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/history": {
      "get": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "GetOrderHistory",
        "summary": "Get an Order's harvest and change history",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order history",
            "schema": {
              "$ref": "#/definitions/orderHistory"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/setMerchantOrderInfo": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "SetMerchantOrderInfo",
        "summary": "Set an Order's merchant information",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/setMerchantOrderInfoRequest"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully set Order merchant order info set"
          },
          "400": {
            "description": "Could not update Order merchant information. Please see body for more information.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/clearMerchantOrderInfo": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "ClearMerchantOrderInfo",
        "summary": "Clear an Order's merchant information",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully cleared Order merchant order info set"
          },
          "400": {
            "description": "Could not update Order merchant information. Please see body for more information.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/accept": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "AcceptOrder",
        "summary": "Accept your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order accept request accepted"
          },
          "400": {
            "description": "Invalid order accept request, could not be send to the marketplace. Please check your request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "Already processing a change request for this Order.\\\nPlease refresh your clients Order information and retry later.\n",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Indicates the duration in seconds to wait to be able to make this request again"
              }
            },
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/cancel": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "CancelOrder",
        "summary": "Cancel your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cancelOrderRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Order cancel request accepted"
          },
          "400": {
            "description": "Invalid order cancel request, could not be send to the marketplace. Please check your request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "Already processing a change request for this Order.\\\nPlease refresh your clients Order information and retry later.\n",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Indicates the duration in seconds to wait to be able to make this request again"
              }
            },
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/ship": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "ShipOrder",
        "summary": "Ship your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shipOrderRequest"
            }
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order ship request accepted"
          },
          "400": {
            "description": "Invalid order ship request, could not be send to the marketplace. Please check the body of this request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "Already processing a change request for this Order.\\\nPlease refresh your clients Order information and retry later.\n",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Indicates the duration in seconds to wait to be able to make this request again"
              }
            },
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{imnOrderId}/refund": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Order"
        ],
        "operationId": "RefundOrder",
        "summary": "Refund your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/imnOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/refundOrderRequest"
            }
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order refund request accepted"
          },
          "400": {
            "description": "Invalid order refund request, could not be send to the marketplace. Please check the body of this request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "description": "Requested Order could not be found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "Already processing a change request for this Order.\\\nPlease refresh your clients Order information and retry later.\n",
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "Indicates the duration in seconds to wait to be able to make this request again"
              }
            },
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "CreateSubscription",
        "summary": "Creates a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription created",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "400": {
            "description": "Invalid subscription request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "There is already a subscription on for the same eventType and the same target Url.\n",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Marketplaces - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "GetSubscriptionList",
        "summary": "Get the subscription list",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The suscription list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/subscription"
              }
            }
          },
          "400": {
            "description": "Invalid subscription request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "There is already a subscription on for the same eventType and the same target Url.\n",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}": {
      "get": {
        "tags": [
          "Marketplaces - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "GetSubscription",
        "summary": "Get a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription info",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Marketplaces - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "DeleteSubscription",
        "summary": "Delete a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription deleted"
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}/activate": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "ActivateSubscription",
        "summary": "Activate a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription activated",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}/deactivate": {
      "post": {
        "tags": [
          "Marketplaces - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "DeactivateSubscription",
        "summary": "Deactivate a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deactivated",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/offers/v1/{merchantCode}": {
      "post": {
        "tags": [
          "Merchant API - Offers - Global"
        ],
        "summary": "Save a batch of merchant offers",
        "operationId": "SaveMerchantOfferBatch",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/batchMerchantOfferChanges"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant offers changes have been saved!"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/lov/v1/": {
      "get": {
        "summary": "Get all list names",
        "operationId": "GetUserLovIndex",
        "tags": [
          "Merchant API - List of Values - LOV"
        ],
        "responses": {
          "200": {
            "description": "Get the list names",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/userLovIndex"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/lov/v1/{listName}": {
      "get": {
        "tags": [
          "Merchant API - List of Values - LOV"
        ],
        "summary": "Get the list of values related to this list name",
        "operationId": "GetUserListOfValues",
        "parameters": [
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The list of value name your want to get",
            "type": "string"
          },
          {
            "$ref": "#/parameters/acceptLanguageParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of values",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              },
              "Content-Language": {
                "description": "Indicates the language use in the response",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/userListOfValuesResponse"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "List not found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/external/merchants/v1/subscriptionsRequested": {
      "post": {
        "tags": [
          "External API - Merchant Marketplace Subscription Request - Global"
        ],
        "summary": "Notify merchant subscriptions request",
        "operationId": "PushMerchantSubscriptionsRequested",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/externalMerchantMarketplaceSubscriptions"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscriptions's request have been integrated"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    }
  },
  "definitions": {
    "links.GetMarketplaceApiCredentialLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/credential",
            "method": "GET"
          }
        }
      ]
    },
    "links.GetMarketplaceShippingSettingsLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/shippingSettings",
            "method": "GET"
          }
        }
      ]
    },
    "links.GetMarketplacePricingSettingLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/pricingSetting",
            "method": "GET"
          }
        }
      ]
    },
    "links.EnableMarketplaceLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/enable",
            "method": "POST"
          }
        }
      ]
    },
    "links.DisableMarketplaceLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/disable",
            "method": "POST"
          }
        }
      ]
    },
    "links.DisableOrderImportationLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/disableOrderImportation",
            "method": "POST"
          }
        }
      ]
    },
    "links.ReenableOrderImportationLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/reenableOrderImportation",
            "method": "POST"
          }
        }
      ]
    },
    "links.GetMarketplaceSubscriptionReportingLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplace/v1/eprice/disable",
            "method": "POST"
          }
        }
      ]
    },
    "marketplacesIndexLinks": {
      "type": "object",
      "properties": {
        "pricingRuleTypeLOV": {
          "$ref": "#/definitions/LOVLink3"
        },
        "shippingTypeStandardLOV": {
          "$ref": "#/definitions/LOVLink3"
        }
      }
    },
    "marketplacesIndex": {
      "type": "object",
      "properties": {
        "links": {
          "$ref": "#/definitions/marketplacesIndexLinks"
        },
        "marketplaces": {
          "type": "object",
          "description": "The key is the marketplace code",
          "additionalProperties": {
            "$ref": "#/definitions/marketplaceIndex"
          }
        }
      }
    },
    "marketplaceIndexLinks": {
      "type": "object",
      "properties": {
        "shippingTypeLOV": {
          "$ref": "#/definitions/LOVLink3"
        },
        "apiCredential": {
          "$ref": "#/definitions/links.GetMarketplaceApiCredentialLink"
        },
        "shippingSettings": {
          "$ref": "#/definitions/links.GetMarketplaceShippingSettingsLink"
        },
        "pricingSetting": {
          "$ref": "#/definitions/links.GetMarketplacePricingSettingLink"
        },
        "enable": {
          "$ref": "#/definitions/links.EnableMarketplaceLink"
        },
        "disable": {
          "$ref": "#/definitions/links.DisableMarketplaceLink"
        },
        "disableOrderImportation": {
          "$ref": "#/definitions/links.DisableOrderImportationLink"
        },
        "reenableOrderImportation": {
          "$ref": "#/definitions/links.ReenableOrderImportationLink"
        },
        "reporting": {
          "$ref": "#/definitions/links.GetMarketplaceSubscriptionReportingLink"
        }
      }
    },
    "marketplaceIndex": {
      "type": "object",
      "properties": {
        "info": {
          "$ref": "#/definitions/marketplaceApiInfo"
        },
        "links": {
          "$ref": "#/definitions/marketplaceIndexLinks"
        }
      }
    },
    "offersPublicationStatus": {
      "type": "object",
      "description": "The status of the offer publication to the target marketplace",
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "The marketplace API status for the offer publication",
          "enum": [
            "up",
            "down",
            "paused"
          ],
          "example": "up"
        },
        "publishableOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "The publishable offer count for this target marketplace (considering the product matching)",
          "example": 25
        },
        "publishedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "The published offer count to this target marketplace",
          "example": 20
        },
        "lastPublicationUtcDate": {
          "type": "string",
          "format": "date-time",
          "description": "The last synchronization of the offers from the source marketplace",
          "example": "2018-12-25T23:39:00Z"
        }
      }
    },
    "marketplaceApiInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/marketplaceInfo"
        },
        {
          "type": "object",
          "properties": {
            "offersPublicationStatus": {
              "$ref": "#/definitions/offersPublicationStatus"
            },
            "offersSourceStatus": {
              "$ref": "#/definitions/offersSourceStatus"
            }
          }
        }
      ]
    },
    "offersSourceStatus": {
      "type": "object",
      "description": "The status of the offer importation from the source marketplace",
      "required": [
        "status"
      ],
      "properties": {
        "status": {
          "type": "string",
          "description": "The marketplace API status for the offer importation",
          "enum": [
            "up",
            "down",
            "paused"
          ],
          "example": "up"
        },
        "lastSynchronizationUtcDate": {
          "type": "string",
          "format": "date-time",
          "description": "The last synchronization of the offers from the source marketplace",
          "example": "2018-12-24T23:39:00Z"
        },
        "importedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "The imported offer count from the source marketplace",
          "example": 52
        }
      }
    },
    "httpUrl": {
      "x-exclude": true,
      "description": "The URL <a href=\"https://en.wikipedia.org/wiki/URL\">https://en.wikipedia.org/wiki/URL</a>",
      "type": "string",
      "pattern": "^(https?:\\/\\/)?([\\da-z\\.-]+)\\.([a-z\\.]{2,6})([\\/\\w \\.-]*)*\\/?$",
      "example": "http://www.mydomain.com"
    },
    "merchantAccountIndexLinks": {
      "type": "object",
      "description": "The action you can do on the account API\nThe create and checkMerchantCode link will be available when the merchant code is not created\nThe account link will be available when the merchant has be created  \n",
      "properties": {
        "create": {
          "$ref": "#/definitions/links.CreateMerchantAccountLink"
        },
        "checkMerchantCode": {
          "$ref": "#/definitions/links.CheckMerchantCodeAvailabilityLink"
        },
        "accountInfo": {
          "$ref": "#/definitions/links.GetMerchantAccountInfoLink"
        }
      }
    },
    "merchantAccountIndex": {
      "type": "object",
      "required": [
        "links"
      ],
      "properties": {
        "links": {
          "$ref": "#/definitions/merchantAccountIndexLinks"
        },
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        }
      }
    },
    "createMerchantAccountRequest": {
      "type": "object",
      "required": [
        "code",
        "firstName",
        "lastName",
        "country",
        "companyName",
        "phoneNumber"
      ],
      "properties": {
        "code": {
          "$ref": "#/definitions/merchantCode"
        },
        "firstName": {
          "type": "string",
          "example": "Marilyn"
        },
        "lastName": {
          "type": "string",
          "example": "MONROE"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "phoneNumber": {
          "type": "string",
          "example": 663963036.0
        }
      }
    },
    "updateMerchantAccountRequest": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "country",
        "companyName",
        "phoneNumber"
      ],
      "properties": {
        "firstName": {
          "type": "string",
          "example": "Marilyn"
        },
        "lastName": {
          "type": "string",
          "example": "MONROE"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "phoneNumber": {
          "type": "string",
          "example": 663963036.0
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        }
      }
    },
    "merchantAccountInfo": {
      "type": "object",
      "required": [
        "merchantCode",
        "email",
        "firstName",
        "lastName",
        "country",
        "companyName",
        "phoneNumber",
        "apiToken",
        "links"
      ],
      "properties": {
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "email": {
          "$ref": "#/definitions/email"
        },
        "firstName": {
          "type": "string",
          "example": "Marilyn"
        },
        "lastName": {
          "type": "string",
          "example": "MONROE"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "phoneNumber": {
          "type": "string",
          "example": 663963036.0
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "apiToken": {
          "type": "string",
          "description": "The api token that you will have to use to connect to our API",
          "example": "2b1ff3a068054433ac09224bbb1ff3a068054433ac09224bb0c9d7ea=="
        },
        "links": {
          "$ref": "#/definitions/merchantAccountInfoLinks"
        }
      }
    },
    "merchantAccountInfoLinks": {
      "type": "object",
      "description": "The action you can do on a merchant.\nThe external link will be avaible if there is no subscription requested \n",
      "required": [
        "self",
        "update",
        "resetApiToken"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetMerchantAccountInfoLink"
        },
        "update": {
          "$ref": "#/definitions/links.UpdateMerchantAcountInfoLink"
        },
        "resetApiToken": {
          "$ref": "#/definitions/links.ResetMerchantApiTokenLink"
        },
        "externalMarketplaceSubscription": {
          "$ref": "#/definitions/links.ExternalMarketplaceSubscriptionFormLink"
        }
      }
    },
    "links.CreateMerchantAccountLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/create",
            "method": "POST"
          }
        }
      ]
    },
    "links.CheckMerchantCodeAvailabilityLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/checkMerchantCode",
            "method": "GET"
          }
        }
      ]
    },
    "links.GetMerchantAccountInfoLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/MLT01",
            "method": "GET"
          }
        }
      ]
    },
    "links.ResetMerchantApiTokenLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/MLT01/resetApiToken",
            "method": "POST"
          }
        }
      ]
    },
    "links.UpdateMerchantAcountInfoLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/MLT01",
            "method": "PATCH"
          }
        }
      ]
    },
    "links.ExternalMarketplaceSubscriptionFormLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "description": "The link to sales force form to easily subscribe to the marketplaces\nThe query string will be indicated by the server: \n- email: the email of the merchant\n- merchantCode: The merchant code \n- hmac: Computed by the server with a shared secret key\n",
          "example": {
            "href": "https://imn-developer-edition.eu9.force.com/?email=myemail@mydomain.com&merchantCode=MLT01&hmac=M2JiMmFkY2QwMTY1MjhkM2Y3ZGFmMGZlNjE5ODk1ZDE5NDVjMWQzZGRmNjMyNzkyYzVlMTZmZDQ1YmM1M2ZlOA==#general",
            "method": "GET"
          }
        }
      ]
    },
    "orderListRequestWithoutPagination": {
      "type": "object",
      "required": [
        "dateSearchType",
        "beginPeriodUtcDate",
        "endPeriodUtcDate"
      ],
      "properties": {
        "marketplaceCodes": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/marketplaceCode"
          },
          "example": [
            "C1"
          ]
        },
        "imnOrderStatuses": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/imnOrderStatus"
          },
          "example": [
            "InProgress"
          ]
        },
        "dateSearchType": {
          "$ref": "#/definitions/orderDateSearchType"
        },
        "beginPeriodUtcDate": {
          "description": "The begin period you want to make the search. \\\nThe period MUST not be greater than 30 days.\nThe begin period MUST be lower than the end period.\n",
          "format": "date-time",
          "type": "string",
          "example": "2017-03-01T13:10:01Z"
        },
        "endPeriodUtcDate": {
          "description": "The end period of you search. \\\nThe period MUST not be greater than 30 days. \\\nThe end period MUST be greater than the begin period.\nThe end period MUST be lower to the current date.\n",
          "format": "date-time",
          "type": "string",
          "example": "2017-04-01T13:10:01Z"
        },
        "buyerFirstName": {
          "$ref": "#/definitions/firstName"
        },
        "buyerLastName": {
          "$ref": "#/definitions/lastName"
        },
        "marketplaceOrderIds": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/marketplaceOrderId"
          },
          "example": [
            "CdiscountOrderId1234"
          ]
        },
        "merchantOrderIds": {
          "description": "Merchant order id list",
          "type": "array",
          "items": {
            "$ref": "#/definitions/merchantOrderId"
          },
          "example": [
            "MyOrderId1234"
          ]
        }
      }
    },
    "orderListRequest": {
      "allOf": [
        {
          "$ref": "#/definitions/orderListRequestWithoutPagination"
        },
        {
          "type": "object",
          "required": [
            "dateSearchType",
            "beginPeriodUtcDate",
            "endPeriodUtcDate",
            "pageSize",
            "pageNumber"
          ],
          "properties": {
            "pageSize": {
              "$ref": "#/definitions/pageSize"
            },
            "pageNumber": {
              "$ref": "#/definitions/pageNumber"
            }
          }
        }
      ]
    },
    "businessOperationType": {
      "type": "string",
      "x-lov": "OrderChangeBusinessOperationType",
      "example": "ShipOrder"
    },
    "clearMerchantOrderInfoListRequest": {
      "type": "object",
      "required": [
        "orders"
      ],
      "properties": {
        "orders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/orderIdentifier"
          },
          "maxItems": 100,
          "uniqueItems": true,
          "minItems": 1,
          "example": [
            {
              "marketplaceCode": "C1",
              "merchantCode": "MLT01",
              "imnOrderId": "X0CD8FG"
            },
            {
              "marketplaceCode": "C1",
              "merchantCode": "MLT01",
              "imnOrderId": "Y0CD9FG"
            },
            {
              "marketplaceCode": "E1",
              "merchantCode": "MLT01",
              "imnOrderId": "Z0CD4FG"
            }
          ]
        }
      }
    },
    "setMerchantOrderInfoListRequest": {
      "type": "object",
      "required": [
        "merchantECommerceSoftwareName",
        "merchantECommerceSoftwareVersion",
        "orders"
      ],
      "properties": {
        "merchantECommerceSoftwareName": {
          "$ref": "#/definitions/merchantECommerceSoftwareName"
        },
        "merchantECommerceSoftwareVersion": {
          "$ref": "#/definitions/merchantECommerceSoftwareVersion"
        },
        "orders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/setMerchantOrderInfoListRequestItem"
          },
          "maxItems": 100,
          "uniqueItems": true,
          "minItems": 1,
          "example": [
            {
              "marketplaceCode": "C1",
              "merchantCode": "MLT01",
              "imnOrderId": "Z0CD4FG",
              "merchantOrderId": "BX1234"
            },
            {
              "marketplaceCode": "C1",
              "merchantCode": "MLT01",
              "imnOrderId": "Y0CD9FG",
              "merchantOrderId": "BX5678"
            },
            {
              "marketplaceCode": "E1",
              "merchantCode": "MLT01",
              "imnOrderId": "Z0CD4FG",
              "merchantOrderId": "BX9876"
            }
          ]
        }
      }
    },
    "setMerchantOrderInfoListRequestItem": {
      "allOf": [
        {
          "$ref": "#/definitions/orderIdentifier"
        },
        {
          "type": "object",
          "required": [
            "marketplaceCode",
            "merchantCode",
            "imnOrderId",
            "merchantOrderId"
          ],
          "properties": {
            "merchantOrderId": {
              "$ref": "#/definitions/merchantOrderId"
            }
          }
        }
      ]
    },
    "setMerchantOrderInfoRequest": {
      "type": "object",
      "required": [
        "merchantOrderId",
        "merchantECommerceSoftwareName",
        "merchantECommerceSoftwareVersion"
      ],
      "properties": {
        "merchantOrderId": {
          "$ref": "#/definitions/merchantOrderId"
        },
        "merchantECommerceSoftwareName": {
          "$ref": "#/definitions/merchantECommerceSoftwareName"
        },
        "merchantECommerceSoftwareVersion": {
          "$ref": "#/definitions/merchantECommerceSoftwareVersion"
        }
      }
    },
    "accountSynchronizationList": {
      "type": "object",
      "additionalProperties": {
        "$ref": "#/definitions/accountSynchronization"
      }
    },
    "accountSynchronization": {
      "type": "object",
      "required": [
        "merchantCode",
        "marketplaceCode",
        "marketplaceBusinessCode"
      ],
      "properties": {
        "completedHarvestSynchroUtcDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "links.GetOrderLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/MLT01/C1/A0CD3FG",
            "method": "GET"
          }
        }
      ]
    },
    "orderLinks": {
      "type": "object",
      "required": [
        "self",
        "history",
        "setMerchantInfo",
        "clearMerchantInfo"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetOrderLink"
        },
        "history": {
          "$ref": "#/definitions/links.GetOrderHistoryLink"
        },
        "setMerchantInfo": {
          "$ref": "#/definitions/links.SetMerchantOrderInfoLink"
        },
        "clearMerchantInfo": {
          "$ref": "#/definitions/links.ClearMerchantOrderInfoLink"
        }
      }
    },
    "links.GetOrderHistoryLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/MLT01/C1/A0CD3FG/history",
            "method": "GET"
          }
        }
      ]
    },
    "links.SetMerchantOrderInfoLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/MLT01/C1/A0CD3FG/setMerchantOrderInfo",
            "method": "POST",
            "parameters": {
              "request": {
                "in": "body",
                "type": "object",
                "schema": "setMerchantOrderInfoRequest"
              }
            }
          }
        }
      ]
    },
    "links.ClearMerchantOrderInfoLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/MLT01/C1/A0CD3FG/clearMerchantOrderInfo",
            "method": "POST"
          }
        }
      ]
    },
    "links.HarvestOrderLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/MLT01/C1/A0CD3FG/harvest",
            "method": "POST"
          }
        }
      ]
    },
    "orderIndex": {
      "type": "object",
      "description": "Describe in details all informations related to an order.",
      "required": [
        "info",
        "links",
        "transitionLinks"
      ],
      "properties": {
        "info": {
          "$ref": "#/definitions/orderInfo"
        },
        "links": {
          "$ref": "#/definitions/orderLinks"
        },
        "transitionLinks": {
          "$ref": "#/definitions/orderTransitionLinks"
        }
      }
    },
    "links.ShipOrderLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.RefundOrderLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.AcceptOrderLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "links.CancelOrderLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        }
      ]
    },
    "orderTransitionLinks": {
      "description": "Contains the authorized change actions for an order",
      "type": "object",
      "properties": {
        "accept": {
          "$ref": "#/definitions/links.AcceptOrderLink"
        },
        "cancel": {
          "$ref": "#/definitions/links.CancelOrderLink"
        },
        "ship": {
          "$ref": "#/definitions/links.ShipOrderLink"
        },
        "refund": {
          "$ref": "#/definitions/links.RefundOrderLink"
        }
      }
    },
    "orderApiIndex": {
      "type": "object",
      "required": [
        "links",
        "lovLinks"
      ],
      "properties": {
        "links": {
          "$ref": "#/definitions/orderApiIndexLinks"
        },
        "lovLinks": {
          "$ref": "#/definitions/orderApiIndexLovLinks"
        }
      }
    },
    "links.GetOrderApiIndexLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/MLT01",
            "method": "GET"
          }
        }
      ]
    },
    "orderApiIndexLinks": {
      "description": "Gives you all entry point operations you can do on this API",
      "type": "object",
      "required": [
        "self",
        "status",
        "setMerchantInfos",
        "clearMerchantInfos",
        "export",
        "autoTransitions",
        "orders",
        "lightOrders"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetOrderApiIndexLink"
        },
        "setMerchantInfos": {
          "$ref": "#/definitions/links.SetMerchantOrderInfoListLink"
        },
        "clearMerchantInfos": {
          "$ref": "#/definitions/links.ClearMerchantOrderInfoListLink"
        },
        "orders": {
          "$ref": "#/definitions/links.GetOrderListFullLink"
        },
        "lightOrders": {
          "$ref": "#/definitions/links.GetOrderListLightLink"
        }
      }
    },
    "orderApiIndexLovLinks": {
      "description": "Gives you all the LOV to get the translations realated to operation name, codes, property names and statuses.",
      "type": "object",
      "required": [
        "orderChangeBusinessOperationType",
        "orderState",
        "orderProperty",
        "orderPropertyPosted"
      ],
      "properties": {
        "orderChangeBusinessOperationType": {
          "$ref": "#/definitions/LOVLink3"
        },
        "orderState": {
          "$ref": "#/definitions/LOVLink3"
        },
        "orderProperty": {
          "$ref": "#/definitions/LOVLink3"
        },
        "orderPropertyPosted": {
          "$ref": "#/definitions/LOVLink3"
        }
      }
    },
    "links.GetOrderListFullLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/list/full",
            "method": "POST",
            "properties": {
              "Accept-Encoding": {
                "in": "header",
                "required": true,
                "type": "â€‹array",
                "schema": "string"
              },
              "request": {
                "in": "body",
                "required": false,
                "type": "object",
                "schema": "orderListRequest"
              }
            }
          }
        }
      ]
    },
    "links.GetOrderListLightLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/list/light",
            "method": "POST",
            "properties": {
              "request": {
                "in": "body",
                "required": false,
                "type": "object",
                "schema": "orderListRequest"
              }
            }
          }
        }
      ]
    },
    "orderListLinks": {
      "description": "The list of actions you can do from the order list response",
      "type": "object",
      "required": [
        "setMerchantInfos",
        "clearMerchantInfos"
      ],
      "properties": {
        "setMerchantInfos": {
          "$ref": "#/definitions/links.SetMerchantOrderInfoListLink"
        },
        "clearMerchantInfos": {
          "$ref": "#/definitions/links.ClearMerchantOrderInfoListLink"
        }
      }
    },
    "orderListLightLinks": {
      "allOf": [
        {
          "$ref": "#/definitions/orderListLinks"
        },
        {
          "type": "object",
          "required": [
            "self",
            "harvest",
            "setMerchantInfos",
            "clearMerchantInfos",
            "export",
            "status"
          ],
          "properties": {
            "self": {
              "$ref": "#/definitions/links.GetOrderListLightLink"
            }
          }
        }
      ]
    },
    "orderListFullLinks": {
      "allOf": [
        {
          "$ref": "#/definitions/orderListLinks"
        },
        {
          "type": "object",
          "required": [
            "self",
            "harvest",
            "setMerchantInfos",
            "clearMerchantInfos",
            "export",
            "status"
          ],
          "properties": {
            "self": {
              "$ref": "#/definitions/links.GetOrderListFullLink"
            }
          }
        }
      ]
    },
    "links.SetMerchantOrderInfoListLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/setMerchantOrderInfos",
            "method": "POST",
            "parameters": {
              "request": {
                "in": "body",
                "required": true,
                "type": "object",
                "schema": "setMerchantOrderInfoRequest"
              }
            }
          }
        }
      ]
    },
    "links.ClearMerchantOrderInfoListLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "example": {
            "href": "/merchant/orders/v1/clearMerchantOrderInfos",
            "method": "POST"
          }
        }
      ]
    },
    "orderListFull": {
      "description": "The order list with all information we have from the orders and its items.\\\nThe paginationResult properties can be null if the list is empty.\n",
      "type": "object",
      "required": [
        "orders",
        "links"
      ],
      "properties": {
        "paginationResult": {
          "$ref": "#/definitions/paginationResult"
        },
        "orders": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/orderIndex"
          }
        },
        "links": {
          "$ref": "#/definitions/orderListFullLinks"
        }
      }
    },
    "orderHistory": {
      "description": "Describe the history related to an order",
      "type": "object",
      "properties": {
        "changeOrderReportings": {
          "description": "The list of change order operation",
          "type": "array",
          "items": {
            "$ref": "#/definitions/changeOrderReporting"
          }
        },
        "lastModificationUtcDate": {
          "format": "date-time",
          "type": "string"
        }
      }
    },
    "sourceType": {
      "description": "Indicates the origin of the operation",
      "type": "string",
      "enum": [
        "Api",
        "Go"
      ],
      "example": "Api"
    },
    "changeOrderReporting": {
      "description": "The reporting related to a change order operation",
      "type": "object",
      "properties": {
        "correlationId": {
          "$ref": "#/definitions/correlationId"
        },
        "changeOrderType": {
          "$ref": "#/definitions/businessOperationType"
        },
        "sourceType": {
          "$ref": "#/definitions/sourceType"
        },
        "sourceUserId": {
          "$ref": "#/definitions/userId"
        },
        "sourceUserName": {
          "type": "string",
          "example": "Guillaume Tell"
        },
        "creationUtcDate": {
          "description": "The creation UTC date of the execution",
          "format": "date-time",
          "type": "string",
          "example": "2017-04-01T13:10:03Z"
        },
        "processingStatus": {
          "description": "The processing status of the execution",
          "type": "string",
          "example": "Done"
        },
        "lastUpdateUtcDate": {
          "description": "The last update UTC date of the execution",
          "format": "date-time",
          "type": "string",
          "example": "2017-04-01T13:10:05Z"
        },
        "errorMessage": {
          "description": "The error message during the execution",
          "type": "string",
          "example": "This is an error message"
        },
        "ipAddress": {
          "description": "The IP address who request this operation",
          "type": "string",
          "example": "127.0.0.1"
        },
        "testMode": {
          "description": "This operation was a test",
          "type": "boolean",
          "example": false
        },
        "details": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        }
      }
[...]
