{
  "swagger": "2.0",
  "info": {
    "title": "IMN  API- DEV",
    "description": "\r\n# The REST API of IMN system\r\n## Overview\r\nThe REST APIs provide programmatic access to read and write IMN data. \r\nBasically, with this API you will be able to do everything like you were with your browser on https://go.imn.io !\r\n\r\nThe main features are:\r\n- Register and manage your merchant account\r\n- Declare your source marketplace to get your offers\r\n- Configure your marketplace api credential\r\n- Define the target marketplaces you want to go to, then you will be able to configure:\r\n\t- the pricing setting \r\n\t- the shipping settings\r\n- ...and more!\r\n\r\n\r\n## Things to keep in mind\r\n### API Rate Limits\r\n- The IMN REST API is limited to 100 calls/minute.\r\n\r\n### Media type\r\nThe default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.\r\n\r\n### Required content type\r\nThe required and default encoding for the request and responses is UTF8.\r\n\r\n### Required date time format\r\nAll our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.\r\n\r\n### Base URL\r\nThe Base URL of the IMN API Order Management REST API conforms to the following template.\r\n\r\nhttps://api.imn.io\r\n\r\nAll URLs returned by the IMN API are relative to this base URL, and all requests to the REST API must use this base URL template.\r\n\r\nYou can test our API on https://api-docs.imn.io/swagger-ui\\\\\r\nYou can contact us on [gitter, #IMN/API](https://gitter.im/IMN/API)\r\n\r\n",
    "version": "1.0",
    "x-logo": {
      "url": "https://imngo.blob.core.windows.net/imngo/images/imn-logo.png",
      "backgroundColor": "#FFFFFF"
    },
    "contact": {
      "email": "support@imn.io"
    },
    "license": {
      "name": "IMN",
      "url": "https://go.imn.io"
    }
  },
  "host": "api.imn.io",
  "x-IMN-api-ops": {
    "codeGenType": "webapi",
    "repo": "IMN",
    "product": "IMN-CORE",
    "appRoot": "IMN.MER.BAM.WebService",
    "apiName": "MerchantOperationsV1",
    "namespace": "IMN.MER.BAM.WebService",
    "applicationShortName": "MER.BAM.WS",
    "useBeezUPFrameworkVersion2": true,
    "comment": "No change. Just server side generation.\n",
    "using": [
      "IMN.Schemas",
      "IMN.Exceptions"
    ],
    "references": [
      "IMN.Schemas",
      "IMN.Exceptions"
    ]
  },
  "x-basePath": "/merchant/operations/v1",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Merchant API - Operations - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant API - Marketplaces - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant API - Marketplaces - Marketplace",
      "x-displayName": "Marketplace"
    },
    {
      "name": "Merchant API - Marketplaces - Api Credentials",
      "x-displayName": "Api Credentials"
    },
    {
      "name": "Merchant API - Marketplaces - Source Marketplace Activation",
      "x-displayName": "Source Marketplace Activation"
    },
    {
      "name": "Merchant API - Marketplaces - Shipping Settings",
      "x-displayName": "Shipping Settings"
    },
    {
      "name": "Merchant API - Marketplaces - Pricing Settings",
      "x-displayName": "Pricing Settings"
    },
    {
      "name": "Merchant API - Marketplaces - Target Marketplace Activation",
      "x-displayName": "Target Marketplace Activation"
    },
    {
      "name": "Merchant - Account API - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant - Account API - Account",
      "x-displayName": "Account"
    },
    {
      "name": "Merchant - Account API - Api Token",
      "x-displayName": "Api Token"
    },
    {
      "name": "Merchant - Orders - Global",
      "description": "All global operations (cross marketplace)",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant - Orders - List",
      "description": "All Order list operations",
      "x-displayName": "List"
    },
    {
      "name": "Merchant - Orders - Order",
      "description": "All operations related to a single Order",
      "x-displayName": "Order"
    },
    {
      "name": "Merchant - Orders - Batches",
      "description": "All batch operations on Orders to reduce call rate",
      "x-displayName": "Batches"
    },
    {
      "name": "Merchant - Orders - Subscriptions - DRAFT",
      "description": "All orders subscription operations - DRAFT",
      "x-displayName": "Subscriptions - DRAFT"
    },
    {
      "name": "Merchant - Orders - Statistics",
      "description": "The statistics of your orders",
      "x-displayName": "Statistics"
    },
    {
      "name": "Merchant API - Offers - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant API - List of Values - LOV",
      "description": "All LOV operations",
      "x-displayName": "LOV"
    },
    {
      "name": "External API - Merchant Marketplace Subscription Request - Global",
      "x-displayName": "Global"
    }
  ],
  "paths": {
    "/merchant/operations/v1/{merchantCode}/{operationId}": {
      "get": {
        "tags": [
          "Merchant API - Operations - Global"
        ],
        "summary": "Get the operation status",
        "operationId": "GetOperationStatus",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "CorrelationId"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation status",
            "schema": {
              "$ref": "#/definitions/operationStatusIndex"
            }
          },
          "303": {
            "description": "The operation is completed so the resource is up to date now! \nFor more information, please read this: https://www.adayinthelifeof.nl/2011/06/02/asynchronous-operations-in-rest/\n",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to the resource"
              }
            }
          },
          "404": {
            "description": "The operation status not found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Global"
        ],
        "summary": "Get the marketplaces index",
        "operationId": "GetMarketplacesIndex",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplaces index",
            "schema": {
              "$ref": "#/definitions/marketplacesIndex"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Marketplace"
        ],
        "summary": "Get the marketplace index",
        "operationId": "GetMarketplaceIndex",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace index",
            "schema": {
              "$ref": "#/definitions/marketplaceIndex"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/subscription/reporting": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Marketplace"
        ],
        "summary": "Get the marketplace subscription reporting",
        "operationId": "GetMarketplaceSubscriptionReporting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace subscription reporting",
            "schema": {
              "$ref": "#/definitions/marketplaceSubscriptionReporting"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/apiCredential": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Api Credentials"
        ],
        "summary": "Get the marketplace API credential",
        "operationId": "GetMarketplaceApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace API credential",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Api Credentials"
        ],
        "summary": "Save the marketplace API credential",
        "operationId": "SaveMarketplaceApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "credential",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Marketplace API credentials saved",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/invalidMarketplaceCredential"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/shippingSettings": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Shipping Settings"
        ],
        "summary": "Get the shipping settings for this marketplace",
        "operationId": "GetMarketplaceShippingSettings",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The shipping settings for this marketplace",
            "schema": {
              "$ref": "#/definitions/marketplaceShippingSettings"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Shipping Settings"
        ],
        "summary": "Save the shipping settings for this marketplace",
        "operationId": "SaveMarketplaceShippingSettings",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "shippingSetting",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceShippingSettings"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Shipping settings configured for this marketplace",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/pricingSetting": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Pricing Settings"
        ],
        "summary": "Get the pricing setting for this marketplace",
        "operationId": "GetMarketplacePricingSetting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The pricing settings for this marketplace",
            "schema": {
              "$ref": "#/definitions/marketplacePricingSetting"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Pricing Settings"
        ],
        "summary": "Save the pricing setting for this marketplace",
        "operationId": "SaveMarketplacePricingSetting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "pricingSetting",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplacePricingSetting"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Pricing setting configured for this marketplace",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/declareOffersSource": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Source Marketplace Activation"
        ],
        "summary": "Declare this marketplace as source of the offers",
        "operationId": "DeclareOffersSourceMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The offers source marketplace has been declared",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/undeclareOffersSource": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Source Marketplace Activation"
        ],
        "summary": "Undeclare this marketplace as source of the offers",
        "operationId": "UndeclareOffersSourceMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The offers source marketplace has been undeclared",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "412": {
            "$ref": "#/responses/notOfferSourceMarketplace"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disableOfferImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Source Marketplace Activation"
        ],
        "summary": "Disable offer importation for this marketplace",
        "operationId": "DisableOfferImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace offer importation has been disabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/reenableOfferImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Source Marketplace Activation"
        ],
        "summary": "Reenable offer importation for this marketplace",
        "operationId": "ReenableOfferImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace offer importation has been reenabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAccepted"
          },
          "412": {
            "$ref": "#/responses/credentialNotConfigured"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/enable": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Target Marketplace Activation"
        ],
        "summary": "Enable offers publication & order management for this marketplace",
        "operationId": "EnableMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace has been enabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAccepted"
          },
          "412": {
            "$ref": "#/responses/credentialNotConfigured"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disable": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Target Marketplace Activation"
        ],
        "summary": "Disable offers publication & order management for this marketplace",
        "operationId": "DisableMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace has been disabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disableOrderImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Target Marketplace Activation"
        ],
        "summary": "Disable order importation for this marketplace",
        "operationId": "DisableOrderImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace order importation has been disabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/reenableOrderImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Target Marketplace Activation"
        ],
        "summary": "Reenable order importation for this marketplace",
        "operationId": "ReenableOrderImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace order importation has been reenabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAccepted"
          },
          "412": {
            "$ref": "#/responses/credentialNotConfigured"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/": {
      "get": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Get the merchant account index",
        "operationId": "GetMerchantAccountIndex",
        "responses": {
          "200": {
            "description": "The merchant account index",
            "schema": {
              "$ref": "#/definitions/merchantAccountIndex"
            }
          },
          "401": {
            "description": "The merchant informations are not available",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/checkMerchantCodeAvailability": {
      "post": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Check if merchant code is available",
        "operationId": "CheckMerchantCodeAvailability",
        "parameters": [
          {
            "name": "merchantCode",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/merchantCode"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant code is available"
          },
          "409": {
            "description": "The merchant code is not available",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/create": {
      "post": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Create the merchant account using the merchant code",
        "operationId": "CreateMerchantAccount",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createMerchantAccountRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The merchant code has been created",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "The merchant code or some values are invalid. Please check the error message.",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "409": {
            "$ref": "#/responses/merchantCodeAlreadyUsed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Merchant - Account API - Account"
        ],
        "summary": "Get merchant account info",
        "operationId": "GetMerchantAccountInfo",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant account info",
            "schema": {
              "$ref": "#/definitions/merchantAccountInfo"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "Merchant - Account API - Account"
        ],
        "summary": "Save merchant account info",
        "operationId": "UpdateMerchantAccountInfo",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The merchant account info update request",
            "schema": {
              "$ref": "#/definitions/updateMerchantAccountRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Merchant account info updated",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}/apiToken": {
      "get": {
        "tags": [
          "Merchant - Account API - Api Token"
        ],
        "summary": "Get merchant api token",
        "operationId": "GetMerchantApiToken",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant api token",
            "schema": {
              "$ref": "#/definitions/apiToken"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}/apiToken/reset": {
      "post": {
        "tags": [
          "Merchant - Account API - Api Token"
        ],
        "summary": "Reset merchant api token",
        "operationId": "ResetMerchantApiToken",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "Merchant api token reset"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Merchant - Orders - Global"
        ],
        "x-tagGroups": "Marketplaces Orders",
        "operationId": "GetOrderApiIndex",
        "summary": "Get all actions you can do on the order API",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Order API index",
            "schema": {
              "$ref": "#/definitions/orderApiIndex"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/list/full": {
      "post": {
        "tags": [
          "Merchant - Orders - List"
        ],
        "operationId": "GetOrderListFull",
        "summary": "Get a paginated list of all orders with all order and order item(s) properties",
        "description": "The purpose of this API is to reduce the number of incoming requests by returning the complete (full) Order and Order Item(s) properties.\n",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "Accept-Encoding",
            "description": "Allows the client to indicate wether it accepts a compressed encoding to reduce traffic size",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/orderListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched the full list of Orders",
            "schema": {
              "$ref": "#/definitions/orderListFull"
            }
          },
          "400": {
            "description": "Could not process request for given parameters values. Please check error message for more details.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/list/light": {
      "post": {
        "tags": [
          "Merchant - Orders - List"
        ],
        "operationId": "GetOrderListLight",
        "summary": "Get a paginated list of orders without order items",
        "description": "The purpose of this operation is to reduce the amount of data returned by the API by returning a partial (light) version of the orders.\n",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/orderListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched the full list of Orders",
            "schema": {
              "$ref": "#/definitions/orderListLight"
            }
          },
          "400": {
            "description": "Could not process request for given parameters values. Please check error message for more details.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/setMerchantOrderInfos": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "SetMerchantOrderInfoList",
        "summary": "Send a batch of operations to set an Order's merchant information  (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/setMerchantOrderInfoListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderMerchantInfoBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/clearMerchantOrderInfos": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "ClearMerchantOrderInfoList",
        "summary": "Send a batch of operations to clear an Order's merchant information (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/clearMerchantOrderInfoListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderMerchantInfoBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/ship": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "ShipOrderList",
        "summary": "Ship multiple marketplace orders in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shipOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/shipWithTrackingUrl": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "ShipOrderListWithTrackUrl",
        "summary": "Ship multiple marketplace orders with tracking url in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shipOrderWithTrackingUrlListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/refund": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "RefundOrderList",
        "summary": "Refund multiple marketplace orders in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/refundOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/accept": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "AcceptOrderList",
        "summary": "Accept multiple marketplace orders in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/acceptOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/refuse": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "RefuseOrderList",
        "summary": "Refuse multiple marketplace orders in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/refuseOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/cancel": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "CancelOrderList",
        "summary": "Cancel multiple marketplace orders in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cancelOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}": {
      "head": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "HeadOrder",
        "summary": "Get the meta information about the order (ETag, Last-Modified)",
        "description": "This operation use our redis cache to give you the most performant response.\nThe purpose of this operation is to reduce the bandwith usage by getting just the meta information about the order (ETag, Last-Modified) with the body.\n",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order and Order Item(s) properties",
            "headers": {
              "Last-Modified": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification UTC date of the order\\\nFor more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2\n"
              },
              "ETag": {
                "type": "string",
                "description": "ETag value to identify the current version of requested Order\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n"
              }
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "GetOrder",
        "summary": "Get full Order and Order Item(s) properties",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order and Order Item(s) properties",
            "headers": {
              "Last-Modified": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification UTC date of the order\\\nFor more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2\n"
              },
              "ETag": {
                "type": "string",
                "description": "ETag value to identify the current version of requested Order\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/orderIndex"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/history": {
      "get": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "GetOrderHistory",
        "summary": "Get order change history",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order history",
            "schema": {
              "$ref": "#/definitions/orderHistory"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/setMerchantOrderInfo": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "SetMerchantOrderInfo",
        "summary": "Set an Order's merchant information",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/setMerchantOrderInfoRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successfully set Order merchant order info set",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Could not update Order merchant information. Please see body for more information.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/clearMerchantOrderInfo": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "ClearMerchantOrderInfo",
        "summary": "Clear an Order's merchant information",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Successfully cleared Order merchant order info set",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Could not update Order merchant information. Please see body for more information.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/accept": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "AcceptOrder",
        "summary": "Accept your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order accept request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order accept request, could not be send to the marketplace. Please check your request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/refuse": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "RefuseOrder",
        "summary": "Refuse your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order refuse request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order refuse request, could not be send to the marketplace. Please check your request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/cancel": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "CancelOrder",
        "summary": "Cancel your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cancelOrderRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Order cancel request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order cancel request, could not be send to the marketplace. Please check your request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/ship": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "ShipOrder",
        "summary": "Ship your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shipOrderRequest"
            }
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order ship request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order ship request, could not be send to the marketplace. Please check the body of this request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/shipWithTrackingUrl": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "ShipOrderWithTrackingUrl",
        "summary": "Ship your marketplace order with tracking url",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shipOrderWithTrackingUrlRequest"
            }
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order ship with tracking url request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order ship request, could not be send to the marketplace. Please check the body of this request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/refund": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "RefundOrder",
        "summary": "Refund your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/refundOrderRequest"
            }
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order refund request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order refund request, could not be send to the marketplace. Please check the body of this request.",
            "x-exceptions": [
              "ValidationException"
            ],
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/changes/{correlationId}/abort": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "AbortOrderChange",
        "summary": "Declare the abortion of the order change request.",
        "description": "This operation will not cancel the marketplace order change but will unlock the order to allow order change.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/correlationIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The merchant order change abortion has been processed",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Something wrong in the request, please check the documentation.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderChangeNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions": {
      "post": {
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "CreateSubscription",
        "summary": "Creates a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription created",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "400": {
            "description": "Invalid subscription request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "There is already a subscription on for the same eventType and the same target Url.\n",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      },
      "get": {
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "GetSubscriptionList",
        "summary": "Get the subscription list",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The suscription list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/subscription"
              }
            }
          },
          "400": {
            "description": "Invalid subscription request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "There is already a subscription on for the same eventType and the same target Url.\n",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}": {
      "get": {
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "GetSubscription",
        "summary": "Get a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription info",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "DeleteSubscription",
        "summary": "Delete a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription deleted"
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}/activate": {
      "post": {
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "ActivateSubscription",
        "summary": "Activate a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription activated",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}/deactivate": {
      "post": {
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "DeactivateSubscription",
        "summary": "Deactivate a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deactivated",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        },
        "deprecated": false
      }
    },
    "/merchant/orders/v1/{merchantCode}/reports/status": {
      "get": {
        "tags": [
          "Merchant - Orders - Statistics"
        ],
        "summary": "Get the report status",
        "description": "Get the report status",
        "operationId": "GetMerchantReportStatus",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Your reporting status",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/reportStatusByMarketplace"
              }
            }
          },
          "400": {
            "$ref": "#/responses/GeneralError"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/reports/byday": {
      "post": {
        "tags": [
          "Merchant - Orders - Statistics"
        ],
        "summary": "Get the report by day",
        "description": "Get the report by day",
        "operationId": "GetMerchantReportByDay",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reportByDayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Your reporting by day",
            "schema": {
              "$ref": "#/definitions/reportByDayResponse"
            }
          },
          "400": {
            "$ref": "#/responses/GeneralError"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/offers/v1/{merchantCode}": {
      "post": {
        "tags": [
          "Merchant API - Offers - Global"
        ],
        "summary": "Save a batch of merchant offers",
        "operationId": "SaveMerchantOfferBatch",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/batchMerchantOfferChanges"
            },
            "required": true
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant offers changes have been saved!"
          },
          "400": {
            "$ref": "#/responses/offerBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/lov/v1/": {
      "get": {
        "summary": "Get all list names",
        "operationId": "GetUserLovIndex",
        "tags": [
          "Merchant API - List of Values - LOV"
        ],
        "responses": {
          "200": {
            "description": "Get the list names",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/userLovIndex"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/lov/v1/{listName}": {
      "get": {
        "tags": [
          "Merchant API - List of Values - LOV"
        ],
        "summary": "Get the list of values related to this list name",
        "operationId": "GetUserListOfValues",
        "parameters": [
          {
            "name": "listName",
            "in": "path",
            "required": true,
            "description": "The list of value name your want to get",
            "type": "string"
          },
          {
            "$ref": "#/parameters/acceptLanguageParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The list of values",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              },
              "Content-Language": {
                "description": "Indicates the language use in the response",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            },
            "schema": {
              "$ref": "#/definitions/userListOfValuesResponse"
            }
          },
          "304": {
            "description": "The ETag sent in the http header If-None-Match did not change. So you can keep your version.",
            "headers": {
              "ETag": {
                "description": "The ETag corresponding to the LOV Index",
                "type": "string"
              },
              "Cache-Control": {
                "description": "Indicates the directive around the caching mechanisms.\\\nFor more information, please go to this link: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.9\n",
                "type": "array",
                "collectionFormat": "csv",
                "items": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "List not found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/external/merchants/v1/subscriptionsRequested": {
      "post": {
        "tags": [
          "External API - Merchant Marketplace Subscription Request - Global"
        ],
        "summary": "Notify merchant subscriptions request",
        "operationId": "PushMerchantSubscriptionsRequested",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/externalMerchantMarketplaceSubscriptions"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Subscriptions's request have been integrated"
          },
          "400": {
            "description": "The subscription request utc date is in future",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    }
  },
  "definitions": {
    "operationStatusIndex": {
      "type": "object",
      "properties": {
        "operations": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/operationStatusInfo"
          }
        },
        "apiGetDependencies": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/apiGetDependenciesInfo"
          }
        },
        "projections": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/operationProjectionStatusInfo"
          }
        }
      }
    },
    "operationStatusInfo": {
      "type": "object",
      "required": [
        "tenantApp",
        "name",
        "started"
      ],
      "properties": {
        "tenantApp": {
          "$ref": "#/definitions/tenantApp"
        },
        "name": {
          "type": "string"
        },
        "started": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "apiGetDependenciesInfo": {
      "type": "object",
      "required": [
        "uri",
        "tenantApps"
      ],
      "properties": {
        "uri": {
          "type": "string"
        },
        "tenantApps": {
          "type": "array",
          "minItems": 1,
          "items": {
            "$ref": "#/definitions/tenantApp"
          }
        }
      }
    },
    "tenantApp": {
      "type": "object",
      "required": [
        "tenant",
        "app"
      ],
      "properties": {
        "tenant": {
          "type": "string"
        },
        "app": {
          "type": "string"
        }
      }
    },
    "operationProjectionStatusInfo": {
      "type": "object",
      "required": [
        "tenantApp",
        "lastUpdateUtcDate"
      ],
      "properties": {
        "tenantApp": {
          "$ref": "#/definitions/tenantApp"
        },
        "lastUpdateUtcDate": {
          "type": "string",
          "format": "date-time"
        },
        "lastMessageId": {
          "type": "string"
        },
        "lastMessageName": {
          "type": "string"
        },
        "transactionInfo": {
          "$ref": "#/definitions/operationTransactionInfo"
        },
        "errorMessage": {
          "type": "string"
        }
      }
    },
    "operationTransactionInfo": {
      "type": "object",
      "required": [
        "id",
        "messageNumber",
        "messageCount"
      ],
      "properties": {
        "id": {
          "type": "string"
        },
        "messageNumber": {
          "type": "integer"
        },
        "messageCount": {
          "type": "integer"
        }
      }
    },
    "links.GetMarketplaceApiCredentialLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/credential",
            "method": "GET"
          }
        }
      ]
    },
    "links.GetMarketplaceShippingSettingsLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/shippingSettings",
            "method": "GET"
          }
        }
      ]
    },
    "links.GetMarketplacePricingSettingLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/pricingSetting",
            "method": "GET"
          }
        }
      ]
    },
    "links.EnableMarketplaceLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/enable",
            "method": "POST"
          }
        }
      ]
    },
    "links.DisableMarketplaceLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/disable",
            "method": "POST"
          }
        }
      ]
    },
    "links.DisableOrderImportationLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/disableOrderImportation",
            "method": "POST"
          }
        }
      ]
    },
    "links.ReenableOrderImportationLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/reenableOrderImportation",
            "method": "POST"
          }
        }
      ]
    },
    "links.DisableOfferImportationLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/disableOfferImportation",
            "method": "POST"
          }
        }
      ]
    },
    "links.ReenableOfferImportationLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/reenableOfferImportation",
            "method": "POST"
          }
        }
      ]
    },
    "links.DeclareOffersSourceMarketplaceLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/declareOffersSource",
            "method": "POST"
          }
        }
      ]
    },
    "links.UndeclareOffersSourceMarketplaceLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/undeclareOffersSource",
            "method": "POST"
          }
        }
      ]
    },
    "links.GetMarketplaceSubscriptionReportingLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/marketplaces/v1/MLT01/E1/disable",
            "method": "POST"
          }
        }
      ]
    },
    "marketplacesIndexLinks": {
      "type": "object",
      "properties": {
        "pricingRuleTypeLOV": {
          "$ref": "#/definitions/LOVLink3"
        },
        "shippingTypeStandardLOV": {
          "$ref": "#/definitions/LOVLink3"
        }
      }
    },
    "marketplacesIndex": {
      "type": "object",
      "properties": {
        "links": {
          "$ref": "#/definitions/marketplacesIndexLinks"
        },
        "marketplaces": {
          "type": "object",
          "description": "The key is the marketplace code",
          "additionalProperties": {
            "$ref": "#/definitions/marketplaceIndex"
          }
        }
      }
    },
    "marketplaceIndexLinks": {
      "type": "object",
      "properties": {
        "shippingTypeLOV": {
          "$ref": "#/definitions/LOVLink3"
        },
        "apiCredential": {
          "$ref": "#/definitions/links.GetMarketplaceApiCredentialLink"
        },
        "shippingSettings": {
          "$ref": "#/definitions/links.GetMarketplaceShippingSettingsLink"
        },
        "pricingSetting": {
          "$ref": "#/definitions/links.GetMarketplacePricingSettingLink"
        },
        "enable": {
          "$ref": "#/definitions/links.EnableMarketplaceLink"
        },
        "disable": {
          "$ref": "#/definitions/links.DisableMarketplaceLink"
        },
        "disableOrderImportation": {
          "$ref": "#/definitions/links.DisableOrderImportationLink"
        },
        "reenableOrderImportation": {
          "$ref": "#/definitions/links.ReenableOrderImportationLink"
        },
        "disableOfferImportation": {
          "$ref": "#/definitions/links.DisableOfferImportationLink"
        },
        "reenableOfferImportation": {
          "$ref": "#/definitions/links.ReenableOfferImportationLink"
        },
        "declareOffersSource": {
          "$ref": "#/definitions/links.DeclareOffersSourceMarketplaceLink"
        },
        "undeclareOffersSource": {
          "$ref": "#/definitions/links.UndeclareOffersSourceMarketplaceLink"
        },
        "reporting": {
          "$ref": "#/definitions/links.GetMarketplaceSubscriptionReportingLink"
        }
      }
    },
    "marketplaceIndex": {
      "type": "object",
      "properties": {
        "info": {
          "$ref": "#/definitions/marketplaceApiInfo"
        },
        "links": {
          "$ref": "#/definitions/marketplaceIndexLinks"
        }
      }
    },
    "offersPublicationStatus": {
      "type": "object",
      "description": "The status of the offer publication to the target marketplace",
      "required": [
        "apiIntegrationStatus"
      ],
      "properties": {
        "apiIntegrationStatus": {
          "$ref": "#/definitions/marketplaceApiIntegrationStatus"
        },
        "publishableOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "The publishable offer count for this target marketplace (considering the product matching)",
          "example": 25
        },
        "publishedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "The published offer count to this target marketplace",
          "example": 20
        },
        "lastPublicationUtcDate": {
          "type": "string",
          "format": "date-time",
          "description": "The last synchronization of the offers from the source marketplace",
          "example": "2018-12-25T23:39:00Z"
        }
      }
    },
    "marketplaceApiInfo": {
      "allOf": [
        {
          "$ref": "#/definitions/marketplaceInfo"
        },
        {
          "type": "object",
          "properties": {
            "offersPublicationStatus": {
              "$ref": "#/definitions/offersPublicationStatus"
            },
            "offersSourceStatus": {
              "$ref": "#/definitions/offersSourceStatus"
            }
          }
        }
      ]
    },
    "offersSourceStatus": {
      "type": "object",
      "description": "The status of the offer importation from the source marketplace",
      "required": [
        "apiIntegrationStatus"
      ],
      "properties": {
        "apiIntegrationStatus": {
          "$ref": "#/definitions/marketplaceApiIntegrationStatus"
        },
        "lastSynchronizationUtcDate": {
          "type": "string",
          "format": "date-time",
          "description": "The last synchronization of the offers from the source marketplace",
          "example": "2018-12-24T23:39:00Z"
        },
        "importedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "The imported offer count from the source marketplace",
          "example": 52
        }
      }
    },
    "httpUrl": {
      "x-exclude": true,
      "description": "The URL <a href=\"https://en.wikipedia.org/wiki/URL\">https://en.wikipedia.org/wiki/URL</a>",
      "type": "string",
      "pattern": "^(https?:\\/\\/)?([\\da-z\\.-]+)\\.([a-z\\.]{2,6})([\\/\\w \\.-]*)*\\/?$",
      "example": "http://www.mydomain.com"
    },
    "merchantAccountIndexLinks": {
      "type": "object",
      "description": "The action you can do on the account API\nThe create and checkMerchantCode link will be available when the merchant code is not created\nThe account link will be available when the merchant has be created\n",
      "properties": {
        "create": {
          "$ref": "#/definitions/links.CreateMerchantAccountLink"
        },
        "checkMerchantCode": {
          "$ref": "#/definitions/links.CheckMerchantCodeAvailabilityLink"
        },
        "accountInfo": {
          "$ref": "#/definitions/links.GetMerchantAccountInfoLink"
        }
      }
    },
    "merchantAccountIndex": {
      "type": "object",
      "required": [
        "links"
      ],
      "properties": {
        "links": {
          "$ref": "#/definitions/merchantAccountIndexLinks"
        },
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        }
      }
    },
    "createMerchantAccountRequest": {
      "type": "object",
      "required": [
        "code",
        "firstName",
        "lastName",
        "country",
        "companyName",
        "phoneNumber",
        "currencyCode",
        "ecommerceSoftwareName"
      ],
      "properties": {
        "code": {
          "$ref": "#/definitions/merchantCode"
        },
        "firstName": {
          "type": "string",
          "example": "Marilyn"
        },
        "lastName": {
          "type": "string",
          "example": "MONROE"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "phoneNumber": {
          "type": "string",
          "example": 663963036.0
        },
        "currencyCode": {
          "$ref": "#/definitions/currencyCode"
        },
        "ecommerceSoftwareName": {
          "$ref": "#/definitions/ecommerceSoftwareName"
        }
      }
    },
    "updateMerchantAccountRequest": {
      "type": "object",
      "required": [
        "firstName",
        "lastName",
        "country",
        "companyName",
        "phoneNumber",
        "currencyCode",
        "ecommerceSoftwareName"
      ],
      "properties": {
        "firstName": {
          "type": "string",
          "example": "Marilyn"
        },
        "lastName": {
          "type": "string",
          "example": "MONROE"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "phoneNumber": {
          "type": "string",
          "example": 663963036.0
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "currencyCode": {
          "$ref": "#/definitions/currencyCode"
        },
        "ecommerceSoftwareName": {
          "$ref": "#/definitions/ecommerceSoftwareName"
        }
      }
    },
    "apiToken": {
      "type": "string",
      "description": "The api token that you will have to use to connect to our API",
      "example": "2b1ff3a068054433ac09224bbb1ff3a068054433ac09224bb0c9d7ea=="
    },
    "merchantAccountInfo": {
      "type": "object",
      "required": [
        "merchantCode",
        "email",
        "firstName",
        "lastName",
        "country",
        "companyName",
        "phoneNumber",
        "currencyCode",
        "links"
      ],
      "properties": {
        "merchantCode": {
          "$ref": "#/definitions/merchantCode"
        },
        "email": {
          "$ref": "#/definitions/email"
        },
        "firstName": {
          "type": "string",
          "example": "Marilyn"
        },
        "lastName": {
          "type": "string",
          "example": "MONROE"
        },
        "country": {
          "$ref": "#/definitions/countryIsoCodeAlpha3"
        },
        "companyName": {
          "$ref": "#/definitions/merchantCompanyName"
        },
        "phoneNumber": {
          "type": "string",
          "example": 663963036.0
        },
        "imageUrl": {
          "$ref": "#/definitions/httpUrl"
        },
        "currencyCode": {
          "$ref": "#/definitions/currencyCode"
        },
        "ecommerceSoftwareName": {
          "$ref": "#/definitions/ecommerceSoftwareName"
        },
        "importedOfferCount": {
          "type": "integer",
          "format": "int32",
          "description": "Imported offer count from the source marketplace or from his shop system source",
          "example": 4242
        },
        "links": {
          "$ref": "#/definitions/merchantAccountInfoLinks"
        }
      }
    },
    "merchantAccountInfoLinks": {
      "type": "object",
      "description": "The action you can do on a merchant.\nThe external link will be avaible if there is no subscription requested\n",
      "required": [
        "self",
        "update",
        "resetApiToken"
      ],
      "properties": {
        "self": {
          "$ref": "#/definitions/links.GetMerchantAccountInfoLink"
        },
        "update": {
          "$ref": "#/definitions/links.UpdateMerchantAccountInfoLink"
        },
        "getApiToken": {
          "$ref": "#/definitions/links.GetMerchantApiTokenLink"
        },
        "resetApiToken": {
          "$ref": "#/definitions/links.ResetMerchantApiTokenLink"
        },
        "externalMarketplaceSubscription": {
          "$ref": "#/definitions/links.ExternalMarketplaceSubscriptionFormLink"
        }
      }
    },
    "links.CreateMerchantAccountLink": {
      "allOf": [
        {
          "$ref": "#/definitions/link3"
        },
        {
          "type": "object",
          "example": {
            "href": "/merchant/account/v1/create",
            "method": "POST"
          }
[...]
