{
  "swagger": "2.0",
  "info": {
    "title": "IMN Merchant API  - DEV",
    "description": "# The REST API of IMN system\n## Overview\nThe REST APIs provide programmatic access to read and write IMN data. \nBasically, with this API you will be able to do everything like you were with your browser on https://go.imn.io !\n\nThe main features are:\n- Register and manage your merchant account\n- Declare your source marketplace to get your offers\n- Configure your marketplace api credential\n- Define the target marketplaces you want to go to, then you will be able to configure:\n\t- the pricing setting \n\t- the shipping settings\n- ...and more!\n\n\n## Things to keep in mind\n### API Rate Limits\n- The IMN REST API is limited to 100 calls/minute.\n\n### Media type\nThe default media type for requests and responses is application/json. Where noted, some operations support other content types. If no additional content type is mentioned for a specific operation, then the media type is application/json.\n\n### Required content type\nThe required and default encoding for the request and responses is UTF8.\n\n### Required date time format\nAll our date time are formatted in ISO 8601 format: 2014-06-24T16:25:00Z.\n\n### Base URL\nThe Base URL of the IMN API Order Management REST API conforms to the following template.\n\nhttps://api.imn.io\n\nAll URLs returned by the IMN API are relative to this base URL, and all requests to the REST API must use this base URL template.\n\nYou can test our API on https://api-docs.imn.io/swagger-ui\nYou can contact us on [gitter, #IMN/API](https://gitter.im/IMN/API)\n\n",
    "version": "1.0",
    "x-logo": {
      "url": "https://imngo.blob.core.windows.net/imngo/images/imn-logo.png",
      "backgroundColor": "#FFFFFF"
    },
    "contact": {
      "email": "contact@imnnow.com"
    },
    "license": {
      "name": "IMN",
      "url": "https://go.imn.io"
    }
  },
  "host": "api.imn.io",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "tags": [
    {
      "name": "Merchant API - Operations - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant API - Marketplaces - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant API - Marketplaces - Marketplace",
      "x-displayName": "Marketplace"
    },
    {
      "name": "Merchant API - Marketplaces - Api Credentials",
      "x-displayName": "Api Credentials"
    },
    {
      "name": "Merchant API - Marketplaces - Source Marketplace Activation",
      "x-displayName": "Source Marketplace Activation"
    },
    {
      "name": "Merchant API - Marketplaces - Shipping Settings",
      "x-displayName": "Shipping Settings"
    },
    {
      "name": "Merchant API - Marketplaces - Pricing Settings",
      "x-displayName": "Pricing Settings"
    },
    {
      "name": "Merchant API - Marketplaces - Target Marketplace Activation",
      "x-displayName": "Target Marketplace Activation"
    },
    {
      "name": "Merchant API - Marketplaces - DRAFT - Custom rules",
      "x-displayName": "DRAFT - Custom rules"
    },
    {
      "name": "Merchant API - Marketplaces - ExclusionFilters",
      "x-displayName": "ExclusionFilters"
    },
    {
      "name": "Merchant - Account API - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant - Account API - Account",
      "x-displayName": "Account"
    },
    {
      "name": "Merchant - Account API - Api Token",
      "x-displayName": "Api Token"
    },
    {
      "name": "Merchant - Account API - Currency Conversion",
      "x-displayName": "Currency Conversion"
    },
    {
      "name": "Merchant - Orders - Global",
      "x-displayName": "Global"
    },
    {
      "name": "Merchant - Orders - List",
      "x-displayName": "List"
    },
    {
      "name": "Merchant - Orders - Order",
      "x-displayName": "Order"
    },
    {
      "name": "Merchant - Orders - Batches",
      "x-displayName": "Batches"
    },
    {
      "name": "Merchant - Orders - Subscriptions - DRAFT",
      "x-displayName": "Subscriptions - DRAFT"
    },
    {
      "name": "Merchant - Orders - Statistics",
      "x-displayName": "Statistics"
    },
    {
      "name": "Merchant API - Offers - Imported",
      "x-displayName": "Imported"
    },
    {
      "name": "Merchant API - Offers - Exported",
      "x-displayName": "Exported"
    },
    {
      "name": "Merchant API - Offers - Editions",
      "x-displayName": "Editions"
    },
    {
      "name": "Merchant API - Offers - Deactivation",
      "x-displayName": "Deactivation"
    },
    {
      "name": "Merchant API - Offers - Publication",
      "x-displayName": "Publication"
    },
    {
      "name": "Merchant API - Offers - Push",
      "x-displayName": "Push"
    },
    {
      "name": "Merchant API - Offers - Marketplace Publication Status",
      "x-displayName": "Marketplace Publication Status"
    },
    {
      "name": "Merchant API - List of Values - LOV",
      "x-displayName": "LOV"
    }
  ],
  "paths": {
    "/merchant/operations/v1/{merchantCode}/{operationId}": {
      "get": {
        "tags": [
          "Merchant API - Operations - Global"
        ],
        "summary": "Get the operation status",
        "operationId": "GetOperationStatus",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "operationId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "CorrelationId"
          }
        ],
        "responses": {
          "200": {
            "description": "The operation status",
            "schema": {
              "$ref": "#/definitions/operationStatusIndex"
            },
            "headers": {
              "Retry-After": {
                "type": "integer",
                "description": "A non-negative decimal integer indicating the seconds to delay after the response is received."
              }
            }
          },
          "303": {
            "description": "The operation is completed so the resource is up to date now! \nFor more information, please read this: https://www.adayinthelifeof.nl/2011/06/02/asynchronous-operations-in-rest/\n",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to the resource"
              }
            }
          },
          "404": {
            "description": "The operation status not found",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Global"
        ],
        "summary": "Get the marketplaces index",
        "operationId": "GetMarketplacesIndex",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplaces index",
            "schema": {
              "$ref": "#/definitions/marketplacesIndex"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/customRules": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - DRAFT - Custom rules"
        ],
        "summary": "DRAFT: Get the marketplace custom rules\n",
        "operationId": "GetMarketplaceCustomRules",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace custom rules",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/marketplaceCustomRule"
              }
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "post": {
        "tags": [
          "Merchant API - Marketplaces - DRAFT - Custom rules"
        ],
        "summary": "DRAFT: Save the marketplace custom rules\n",
        "operationId": "SaveMarketplaceCustomRules",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/marketplaceCustomRule"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace custom rules"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "Merchant API - Marketplaces - DRAFT - Custom rules"
        ],
        "summary": "DRAFT: Delete the marketplace custom rules\n",
        "operationId": "DeleteMarketplaceCustomRules",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "description": "T",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace custom rules"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Marketplace"
        ],
        "summary": "Get the marketplace index",
        "operationId": "GetMarketplaceIndex",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace index",
            "schema": {
              "$ref": "#/definitions/marketplaceIndex"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/subscription/reporting": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Marketplace"
        ],
        "summary": "Get the marketplace subscription reporting",
        "operationId": "GetMarketplaceSubscriptionReporting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace subscription reporting",
            "schema": {
              "$ref": "#/definitions/marketplaceSubscriptionReporting"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/apiCredential": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Api Credentials"
        ],
        "summary": "Get the marketplace API credential",
        "operationId": "GetMarketplaceApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "x-dependencies": [
          {
            "name": "imndb"
          }
        ],
        "responses": {
          "200": {
            "description": "The marketplace API credential",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Api Credentials"
        ],
        "summary": "Save the marketplace API credential",
        "operationId": "SaveMarketplaceApiCredential",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "credential",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceApiCredential"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Marketplace API credentials saved",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system",
                "x-bamBusinessKey": "merchantCode"
              }
            },
            "x-readOperationId": "GetMarketplaceApiCredential"
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/invalidMarketplaceCredential"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/shippingSettings": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Shipping Settings"
        ],
        "summary": "Get the shipping settings for this marketplace",
        "operationId": "GetMarketplaceShippingSettings",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The shipping settings for this marketplace",
            "schema": {
              "$ref": "#/definitions/marketplaceShippingSettings"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Shipping Settings"
        ],
        "summary": "Save the shipping settings for this marketplace",
        "operationId": "SaveMarketplaceShippingSettings",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "shippingSetting",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplaceShippingSettings"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Shipping settings configured for this marketplace",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/pricingSetting": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - Pricing Settings"
        ],
        "summary": "Get the pricing setting for this marketplace",
        "operationId": "GetMarketplacePricingSetting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The pricing settings for this marketplace",
            "schema": {
              "$ref": "#/definitions/marketplacePricingSetting"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - Pricing Settings"
        ],
        "summary": "Save the pricing setting for this marketplace",
        "operationId": "SaveMarketplacePricingSetting",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "pricingSetting",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/marketplacePricingSetting"
            },
            "required": true
          }
        ],
        "responses": {
          "202": {
            "description": "Pricing setting configured for this marketplace",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/declareOffersSource": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Source Marketplace Activation"
        ],
        "summary": "Declare this marketplace as source of the offers",
        "operationId": "DeclareOffersSourceMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The offers source marketplace has been declared",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/undeclareOffersSource": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Source Marketplace Activation"
        ],
        "summary": "Undeclare this marketplace as source of the offers",
        "operationId": "UndeclareOffersSourceMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The offers source marketplace has been undeclared",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "412": {
            "$ref": "#/responses/notOfferSourceMarketplace"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disableOfferImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Source Marketplace Activation"
        ],
        "summary": "Disable offer importation for this marketplace",
        "operationId": "DisableOfferImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace offer importation has been disabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/reenableOfferImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Source Marketplace Activation"
        ],
        "summary": "Reenable offer importation for this marketplace",
        "operationId": "ReenableOfferImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace offer importation has been reenabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAccepted"
          },
          "412": {
            "$ref": "#/responses/credentialNotConfigured"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/enable": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Target Marketplace Activation"
        ],
        "summary": "Enable offers publication & order management for this marketplace",
        "operationId": "EnableMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace has been enabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAccepted"
          },
          "412": {
            "$ref": "#/responses/credentialNotConfigured"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disable": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Target Marketplace Activation"
        ],
        "summary": "Disable offers publication & order management for this marketplace",
        "operationId": "DisableMarketplace",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace has been disabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disableOrderImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Target Marketplace Activation"
        ],
        "summary": "Disable order importation for this marketplace",
        "operationId": "DisableOrderImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace order importation has been disabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/reenableOrderImportation": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Target Marketplace Activation"
        ],
        "summary": "Reenable order importation for this marketplace",
        "operationId": "ReenableOrderImportation",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace order importation has been reenabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAccepted"
          },
          "412": {
            "$ref": "#/responses/credentialNotConfigured"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/disableOfferPublication": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Target Marketplace Activation"
        ],
        "summary": "Disable offer publication for this marketplace",
        "operationId": "DisableOfferPublication",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace offer publication has been disabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/reenableOfferPublication": {
      "post": {
        "tags": [
          "Merchant API - Marketplaces - Target Marketplace Activation"
        ],
        "summary": "Reenable offer publication for this marketplace",
        "operationId": "ReenableOfferPublication",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The marketplace offer publication has been reenabled",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "403": {
            "$ref": "#/responses/subscriptionNotAccepted"
          },
          "412": {
            "$ref": "#/responses/credentialNotConfigured"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/marketplaces/v1/{merchantCode}/{marketplaceCode}/exclusionFilters": {
      "get": {
        "tags": [
          "Merchant API - Marketplaces - ExclusionFilters"
        ],
        "summary": "Get merchant marketplace exclusion filters",
        "operationId": "GetMerchantMarketplaceExclusionFilters",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant marketplace exclusion filters",
            "schema": {
              "$ref": "#/definitions/offerExclusionFilters"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "put": {
        "tags": [
          "Merchant API - Marketplaces - ExclusionFilters"
        ],
        "summary": "Save merchant marketplace exclusion filters",
        "operationId": "SaveMerchantMarketplaceExclusionFilters",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/offerExclusionFilters"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The merchant marketplace exclusion filters"
          },
          "400": {
            "description": "Invalid request",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/merchantOrMarketplaceNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/": {
      "get": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Get the merchant account index",
        "operationId": "GetMerchantAccountIndex",
        "responses": {
          "200": {
            "description": "The merchant account index",
            "schema": {
              "$ref": "#/definitions/merchantAccountIndex"
            }
          },
          "401": {
            "description": "The merchant informations are not available",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/checkMerchantCodeAvailability": {
      "post": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Check if merchant code is available",
        "operationId": "CheckMerchantCodeAvailability",
        "parameters": [
          {
            "name": "merchantCode",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/merchantCode"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant code is available"
          },
          "409": {
            "description": "The merchant code is not available",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/create": {
      "post": {
        "tags": [
          "Merchant - Account API - Global"
        ],
        "summary": "Create the merchant account using the merchant code",
        "operationId": "CreateMerchantAccount",
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createMerchantAccountRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The merchant code has been created",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "The merchant code or some values are invalid. Please check the error message.",
            "schema": {
              "$ref": "#/definitions/userErrorMessage"
            }
          },
          "409": {
            "$ref": "#/responses/merchantCodeAlreadyUsed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Merchant - Account API - Account"
        ],
        "summary": "Get merchant account info",
        "operationId": "GetMerchantAccountInfo",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant account info",
            "schema": {
              "$ref": "#/definitions/merchantAccountInfo"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "Merchant - Account API - Account"
        ],
        "summary": "Save merchant account info",
        "operationId": "UpdateMerchantAccountInfo",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "description": "The merchant account info update request",
            "schema": {
              "$ref": "#/definitions/updateMerchantAccountRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Merchant account info updated",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "Merchant - Account API - Account"
        ],
        "summary": "Delete merchant account",
        "operationId": "DeleteMerchantAccount",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Merchant account deleted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "$ref": "#/responses/invalidMerchantCode"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}/apiToken": {
      "get": {
        "tags": [
          "Merchant - Account API - Api Token"
        ],
        "summary": "Get merchant api token",
        "operationId": "GetMerchantApiToken",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant api token",
            "schema": {
              "$ref": "#/definitions/apiToken"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}/apiToken/reset": {
      "post": {
        "tags": [
          "Merchant - Account API - Api Token"
        ],
        "summary": "Reset merchant api token",
        "operationId": "ResetMerchantApiToken",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The new merchant api token",
            "schema": {
              "$ref": "#/definitions/apiToken"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/account/v1/{merchantCode}/currencyConversions": {
      "get": {
        "tags": [
          "Merchant - Account API - Currency Conversion"
        ],
        "summary": "Get merchant currency conversions",
        "description": "This operation will give you all the currencies that require to be configured",
        "operationId": "GetMerchantCurrencyConversions",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant currency conversions",
            "schema": {
              "$ref": "#/definitions/currencyConversionView"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "patch": {
        "tags": [
          "Merchant - Account API - Currency Conversion"
        ],
        "summary": "Save merchant currency conversion",
        "operationId": "SaveMerchantCurrencyConversion",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "schema": {
              "$ref": "#/definitions/currencyConversion"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Merchant currency conversion update accepted"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}": {
      "get": {
        "tags": [
          "Merchant - Orders - Global"
        ],
        "x-tagGroups": "Marketplaces Orders",
        "operationId": "GetOrderApiIndex",
        "summary": "Get all actions you can do on the order API",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Order API index",
            "schema": {
              "$ref": "#/definitions/orderApiIndex"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/list/full": {
      "post": {
        "tags": [
          "Merchant - Orders - List"
        ],
        "operationId": "GetOrderListFull",
        "summary": "Get a paginated list of all orders with all order and order item(s) properties",
        "description": "The purpose of this API is to reduce the number of incoming requests by returning the complete (full) Order and Order Item(s) properties.\n",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "Accept-Encoding",
            "description": "Allows the client to indicate wether it accepts a compressed encoding to reduce traffic size",
            "in": "header",
            "required": true,
            "type": "string"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/merchantOrderListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched the full list of Orders",
            "schema": {
              "$ref": "#/definitions/orderListFull"
            }
          },
          "400": {
            "description": "Could not process request for given parameters values. Please check error message for more details.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/list/light": {
      "post": {
        "tags": [
          "Merchant - Orders - List"
        ],
        "operationId": "GetOrderListLight",
        "summary": "Get a paginated list of orders without order items",
        "description": "The purpose of this operation is to reduce the amount of data returned by the API by returning a partial (light) version of the orders.\n",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/merchantOrderListRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched the full list of Orders",
            "schema": {
              "$ref": "#/definitions/orderListLight"
            }
          },
          "400": {
            "description": "Could not process request for given parameters values. Please check error message for more details.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/setMerchantOrderInfos": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "SetMerchantOrderInfoList",
        "summary": "Send a batch of operations to set an Order's merchant information  (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/setMerchantOrderInfoListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderMerchantInfoBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/clearMerchantOrderInfos": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "ClearMerchantOrderInfoList",
        "summary": "Send a batch of operations to clear an Order's merchant information (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/clearMerchantOrderInfoListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderMerchantInfoBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/ship": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "ShipOrderList",
        "summary": "Ship multiple marketplace orders in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shipOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/shipWithTrackingUrl": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "ShipOrderListWithTrackUrl",
        "summary": "Ship multiple marketplace orders with tracking url in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shipOrderWithTrackingUrlListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/refund": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "RefundOrderList",
        "summary": "Refund multiple marketplace orders in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/refundOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/accept": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "AcceptOrderList",
        "summary": "Accept multiple marketplace orders in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/acceptOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/refuse": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "RefuseOrderList",
        "summary": "Refuse multiple marketplace orders in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/refuseOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/batches/cancel": {
      "post": {
        "tags": [
          "Merchant - Orders - Batches"
        ],
        "operationId": "CancelOrderList",
        "summary": "Cancel multiple marketplace orders in one operation (max 100 items per call)",
        "description": "The purpose of this operation is to reduce the amount of request to the API.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cancelOrderListRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/orderChangeBatchOperationResponse"
          },
          "400": {
            "$ref": "#/responses/orderBatchBadRequest"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}": {
      "head": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "HeadOrder",
        "summary": "Get the meta information about the order (ETag, Last-Modified)",
        "description": "This operation use our redis cache to give you the most performant response.\nThe purpose of this operation is to reduce the bandwith usage by getting just the meta information about the order (ETag, Last-Modified) with the body.\n",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order and Order Item(s) properties",
            "headers": {
              "Last-Modified": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification UTC date of the order\\\nFor more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2\n"
              },
              "ETag": {
                "type": "string",
                "description": "ETag value to identify the current version of requested Order\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n"
              }
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "get": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "GetOrder",
        "summary": "Get full Order and Order Item(s) properties",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order and Order Item(s) properties",
            "headers": {
              "Last-Modified": {
                "type": "string",
                "format": "date-time",
                "description": "Last modification UTC date of the order\\\nFor more details go to this link: https://tools.ietf.org/html/rfc7232#section-2.2\n"
              },
              "ETag": {
                "type": "string",
                "description": "ETag value to identify the current version of requested Order\\\nFor more details go to this link: http://tools.ietf.org/html/rfc7232#section-2.3\n"
              }
            },
            "schema": {
              "$ref": "#/definitions/orderIndex"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "delete": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "DeleteOrder",
        "summary": "Delete the order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order deletion accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/history": {
      "get": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "GetOrderHistory",
        "summary": "Get order change history",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/ifNoneMatchParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully fetched Order history",
            "schema": {
              "$ref": "#/definitions/orderHistory"
            }
          },
          "304": {
            "$ref": "#/responses/304_NotModified"
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/setMerchantOrderInfo": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "SetMerchantOrderInfo",
        "summary": "Set an Order's merchant information",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/setMerchantOrderInfoRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Successfully set Order merchant order info set",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Could not update Order merchant information. Please see body for more information.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/clearMerchantOrderInfo": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "ClearMerchantOrderInfo",
        "summary": "Clear an Order's merchant information",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Successfully cleared Order merchant order info set",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Could not update Order merchant information. Please see body for more information.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/accept": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "AcceptOrder",
        "summary": "Accept your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order accept request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order accept request, could not be send to the marketplace. Please check your request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/refuse": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "RefuseOrder",
        "summary": "Refuse your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order refuse request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order refuse request, could not be send to the marketplace. Please check your request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/cancel": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "CancelOrder",
        "summary": "Cancel your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/cancelOrderRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Order cancel request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order cancel request, could not be send to the marketplace. Please check your request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/ship": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "ShipOrder",
        "summary": "Ship your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shipOrderRequest"
            }
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order ship request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order ship request, could not be send to the marketplace. Please check the body of this request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/shipWithTrackingUrl": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "ShipOrderWithTrackingUrl",
        "summary": "Ship your marketplace order with tracking url",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/shipOrderWithTrackingUrlRequest"
            }
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order ship with tracking url request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order ship request, could not be send to the marketplace. Please check the body of this request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/refund": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "RefundOrder",
        "summary": "Refund your marketplace order",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/userNameInQueryParameter"
          },
          {
            "$ref": "#/parameters/testModeInQueryParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/refundOrderRequest"
            }
          },
          {
            "$ref": "#/parameters/ifMatchParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Order refund request accepted",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Invalid order refund request, could not be send to the marketplace. Please check the body of this request.",
            "x-exceptions": [
              "ValidationException"
            ],
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "409": {
            "$ref": "#/responses/orderChangeAlreadyInProgress"
          },
          "412": {
            "$ref": "#/responses/412_PreConditionFailed"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/changes/{correlationId}/abort": {
      "post": {
        "tags": [
          "Merchant - Orders - Order"
        ],
        "operationId": "AbortOrderChange",
        "summary": "Declare the abortion of the order change request.",
        "description": "This operation will not cancel the marketplace order change but will unlock the order to allow order change.",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          },
          {
            "$ref": "#/parameters/correlationIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The merchant order change abortion has been processed",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system"
              }
            }
          },
          "400": {
            "description": "Something wrong in the request, please check the documentation.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/orderChangeNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/{marketplaceOrderId}/reharvest": {
      "post": {
        "tags": [
          "Merchant - Orders - Global"
        ],
        "summary": "Reharvest order",
        "description": "This operation should be called to temporarily resolve a synchronization issue between the marketplace an IMN",
        "operationId": "ReharvestOrder",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/marketplaceOrderIdParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "The reharvest order request has been accepted"
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "502": {
            "$ref": "#/responses/GeneralError"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/{marketplaceCode}/reharvest": {
      "post": {
        "tags": [
          "Merchant - Orders - Global"
        ],
        "summary": "Reharvest orders",
        "description": "This operation should be called to temporarily resolve a synchronization issue between the marketplace an IMN. This operation will automatically push to IMN the orders related to a merchant since",
        "operationId": "ReharvestOrders",
        "parameters": [
          {
            "$ref": "#/parameters/marketplaceCodeParameter"
          },
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "since",
            "in": "query",
            "description": "If implemented, will allow IMN to indicate since which order purchase utc date we will like to be synchronized. Default is 30 days ago.",
            "required": false,
            "type": "string",
            "format": "date-time"
          },
          {
            "name": "until",
            "in": "query",
            "description": "If implemented, will allow IMN to indicate until which order purchase utc date we will like to be synchronized. Default is utcnow",
            "required": false,
            "type": "string",
            "format": "date-time"
          }
        ],
        "responses": {
          "202": {
            "description": "The reharvest orders request has been accepted"
          },
          "404": {
            "$ref": "#/responses/orderNotFound"
          },
          "429": {
            "$ref": "#/responses/429_TooManyRequests"
          },
          "502": {
            "$ref": "#/responses/GeneralError"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions": {
      "post": {
        "x-releaseStatus": "DRAFT",
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "CreateSubscription",
        "summary": "[DRAFT] Creates a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/createSubscriptionRequest"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Subscription created",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "400": {
            "description": "Invalid subscription request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "There is already a subscription on for the same eventType and the same target Url.\n",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "get": {
        "x-releaseStatus": "DRAFT",
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "GetSubscriptionList",
        "summary": "[DRAFT] Get the subscription list",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The suscription list",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/subscription"
              }
            }
          },
          "400": {
            "description": "Invalid subscription request.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "409": {
            "description": "There is already a subscription on for the same eventType and the same target Url.\n",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}": {
      "get": {
        "x-releaseStatus": "DRAFT",
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "GetSubscription",
        "summary": "[DRAFT] Get a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription info",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          }
        }
      },
      "delete": {
        "x-releaseStatus": "DRAFT",
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "DeleteSubscription",
        "summary": "[DRAFT] Delete a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription deleted"
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}/activate": {
      "post": {
        "x-releaseStatus": "DRAFT",
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "ActivateSubscription",
        "summary": "[DRAFT] Activate a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription activated",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/subscriptions/{id}/deactivate": {
      "post": {
        "x-releaseStatus": "DRAFT",
        "tags": [
          "Merchant - Orders - Subscriptions - DRAFT"
        ],
        "operationId": "DeactivateSubscription",
        "summary": "[DRAFT] Deactivate a subscription to the orders",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "X-Hook-Secret",
            "in": "header",
            "required": true,
            "type": "string",
            "x-example": "blablabla"
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription deactivated",
            "schema": {
              "$ref": "#/definitions/subscription"
            }
          },
          "404": {
            "description": "Invalid subscription id or X-Hook-Secret.",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/reports/status": {
      "get": {
        "tags": [
          "Merchant - Orders - Statistics"
        ],
        "summary": "Get the report status",
        "description": "Get the report status",
        "operationId": "GetMerchantReportStatus",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/beginPeriodUtcDateInQueryParameter"
          },
          {
            "$ref": "#/parameters/endPeriodUtcDateInQueryParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Your reporting status",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/reportStatusByMarketplace"
              }
            }
          },
          "400": {
            "$ref": "#/responses/GeneralError"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/reports/byday": {
      "post": {
        "tags": [
          "Merchant - Orders - Statistics"
        ],
        "summary": "Get the report by day",
        "description": "Get the report by day",
        "operationId": "GetMerchantReportByDay",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reportByDayRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Your reporting by day",
            "schema": {
              "$ref": "#/definitions/reportByDayResponse"
            }
          },
          "400": {
            "$ref": "#/responses/GeneralError"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/orders/v1/{merchantCode}/reports/byProduct": {
      "post": {
        "tags": [
          "Merchant - Orders - Statistics"
        ],
        "summary": "Get the report by product",
        "description": "Get the report by product",
        "operationId": "GetMerchantReportByProduct",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/reportByProductRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Your reporting by product",
            "schema": {
              "$ref": "#/definitions/reportByProductResponse"
            }
          },
          "400": {
            "$ref": "#/responses/GeneralError"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/offers/v1/{merchantCode}/list": {
      "head": {
        "tags": [
          "Merchant API - Offers - Imported"
        ],
        "summary": "Get merchant offer list count",
        "operationId": "GetMerchantOfferCount",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/skuListQueryOptionalParameter"
          },
          {
            "$ref": "#/parameters/gtinListQueryOptionalParameter"
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "The minimum price",
            "type": "integer",
            "x-example": "10"
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The max price",
            "x-example": "10"
          },
          {
            "name": "minInventoryLevel",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The minimum inventory level",
            "x-example": "10"
          },
          {
            "name": "maxInventoryLevel",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The max inventory level",
            "x-example": "10"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant offer list count",
            "headers": {
              "X-Total-Count": {
                "type": "integer",
                "description": "The merchant offer list count"
              }
            }
          },
          "400": {
            "description": "Invalid search criteria",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      },
      "get": {
        "tags": [
          "Merchant API - Offers - Imported"
        ],
        "summary": "Get merchant offer list",
        "operationId": "GetMerchantOfferList",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/pageSizeQueryStringOptinalParameter"
          },
          {
            "$ref": "#/parameters/paginationContinuationTokenHeaderOptionalParameter"
          },
          {
            "$ref": "#/parameters/skuListQueryOptionalParameter"
          },
          {
            "$ref": "#/parameters/gtinListQueryOptionalParameter"
          },
          {
            "name": "minPrice",
            "in": "query",
            "required": false,
            "description": "The minimum price",
            "type": "integer",
            "x-example": "10"
          },
          {
            "name": "maxPrice",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The max price",
            "x-example": "10"
          },
          {
            "name": "minInventoryLevel",
            "in": "query",
            "required": false,
            "type": "integer",
            "description": "The minimum inventory level",
            "x-example": "10"
          },
          {
            "name": "maxInventoryLevel",
            "required": false,
            "in": "query",
            "type": "integer",
            "description": "The max inventory level",
            "x-example": "10"
          },
          {
            "name": "sortBy",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "OfferListSortBy?"
          },
          {
            "name": "sortDirection",
            "in": "query",
            "required": false,
            "type": "string",
            "format": "Sort?"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant offer list",
            "schema": {
              "$ref": "#/definitions/merchantOfferPaginatedList"
            }
          },
          "400": {
            "description": "Invalid search criteria",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/offers/v1/{merchantCode}/history/{sku}": {
      "get": {
        "tags": [
          "Merchant API - Offers - Imported"
        ],
        "summary": "Get merchant offer history",
        "operationId": "GetMerchantOfferHistory",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/pageSizeQueryStringOptinalParameter"
          },
          {
            "$ref": "#/parameters/paginationContinuationTokenHeaderOptionalParameter"
          },
          {
            "$ref": "#/parameters/skuPathParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "The merchant offer history",
            "schema": {
              "$ref": "#/definitions/merchantOfferChangePaginatedList"
            }
          },
          "400": {
            "description": "Invalid search criteria",
            "schema": {
              "$ref": "#/definitions/errorResponseMessage"
            }
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/offers/v1/{merchantCode}/publications/{correlationId}/start": {
      "post": {
        "tags": [
          "Merchant API - Offers - Publication"
        ],
        "summary": "Start the publication of merchant offers",
        "operationId": "StartMerchantOffersPublication",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/correlationIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant offers changes have been saved!"
          },
          "400": {
            "$ref": "#/responses/offerBatchBadRequest"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/offers/v1/{merchantCode}/publications/{correlationId}/events": {
      "post": {
        "tags": [
          "Merchant API - Offers - Publication"
        ],
        "summary": "Publish merchant offers",
        "operationId": "PublishMerchantOffers",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/correlationIdParameter"
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "minItems": 1,
              "maxItems": 1000,
              "items": {
                "$ref": "#/definitions/merchantOfferEventBase"
              }
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The merchant offers have been received!"
          },
          "400": {
            "$ref": "#/responses/offerBatchBadRequest"
          },
          "404": {
            "$ref": "#/responses/merchantNotFound"
          },
          "default": {
            "$ref": "#/responses/GeneralError"
          }
        }
      }
    },
    "/merchant/offers/v1/{merchantCode}/publications/{correlationId}/complete": {
      "post": {
        "tags": [
          "Merchant API - Offers - Publication"
        ],
        "summary": "Complete the publication of the merchant offers",
        "operationId": "CompleteMerchantOffersPublication",
        "parameters": [
          {
            "$ref": "#/parameters/merchantCodeParameter"
          },
          {
            "$ref": "#/parameters/correlationIdParameter"
          }
        ],
        "responses": {
          "204": {
            "description": "The merchant offers publication have been completed!",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The location to monitor the progression of the operation in the IMN system",
                "x-bamBusinessKey": "merchantCode"
              }
            },
[...]
